<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th class="btn-action">
                        <a th:href="@{'/query/add/'}" title="Add query">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </th>
                    <th class="btn-action">
                        <a th:href="@{'/query/list/'}" title="Queries">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                    </th>
                </tr>
            </table>
            <div>
                <form class="form-horizontal" th:object="${workbenchQuery}">
                    <div class="form-group">
                        <!-- Id -->
                        <input type="hidden" class="form-control" th:field="*{id}" />
                        <!-- User -->
                        <input type="hidden" class="form-control" th:field="*{user}" />
                    </div>

                    <!-- Name -->
                    <label>Name</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input 
                                type="text" 
                                class="form-control" 
                                th:field="*{name}" 
                                maxlength="50" 
                                readonly="true" />
                        </div>
                    </div>

                    <!-- Connection -->
                    <label>Connection</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input 
                                type="text" 
                                class="form-control" 
                                th:field="*{connection.name}" 
                                maxlength="50" 
                                readonly="true" />
                        </div>
                    </div>

                    <!-- Query -->
                    <label>
                        Query
                        <a th:href="@{'/workbench/workbench/' + *{id}}" title="Open in workbench" target="_blank">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>
                    </label> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <pre class="line-numbers">
                                <code class="language-sql" th:text="*{query}"></code>
                            </pre>
                        </div>                        
                    </div>

                    <!-- Shared -->
                    <div class="form-group">  
                        <div class="col-sm-10">
                            <div class="btn-group">
                                <label>
                                    <input 
                                        id="shared" 
                                        name="shared" 
                                        type="checkbox" 
                                        th:field="*{shared}" 
                                        th:checked="*{shared}" 
                                        disabled="true"/>
                                    Shared
                                </label>
                            </div>
                        </div>
                    </div>

                    <div th:if="*{#authorization.expression('hasRole(''HERO'')') or user.username == #httpServletRequest.remoteUser}">
                        <hr/>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <a th:href="@{'/query/edit/' + *{id}}" class="btn btn-generic btn-sm">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Tracker-->
                    <div th:if="*{ updatedAt != null }">
                        <hr/>
                        <div class="form-group">                        
                            <div class="col-sm-10">
                                <label class="pull-right label-edit-information" th:inline="text">
                                    Updated by [[*{modifiedBy}]] at [[*{#dates.format(updatedAt, 'yyyy-MM-dd HH:mm:ss')}]]
                                </label>
                            </div>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </body>
</html>
