<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en" th:replace="base/header :: head">

        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content space-top">
            <div  th:if="${not #lists.isEmpty(job.checkup)}">
                <form class="form-horizontal" th:method="post" th:action="@{'/approval/submit/' + ${job.id}}" th:object="${jobApproval}">
                    <div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" th:field="*{description}" required="true" rows="5" minlength="15" maxlength="65000" placeholder="Why it should be approved or not?"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-generic btn-sm" name="approve_job">
                                    <span class="glyphicon glyphicon-thumbs-up">
                                    </span> 
                                    Approve
                               	</button>
                                <button type="submit" class="btn btn-notice btn-sm" name="disapprove_job">
                                    <span class="glyphicon glyphicon-thumbs-down">
                                    </span> 
                                    Disapprove
                               	</button>
                            </div>
                        </div>
                    </div>
                </form>

                <hr/>

                <div th:each="checkup, checkupStat : ${job.checkup}" th:remove="tag">
                    <fieldset th:if="${not #lists.isEmpty(checkup.log)}" >
                        <span class="label " 
                              th:classappend="${checkup.enabled ? (checkup.getLastStatus() ? 'label-success' : 'label-danger') : 'label-default'}" 
                              th:text="${ #strings.abbreviate(checkup.enabled ?  checkup.name : '[DISABLED] ' + checkup.name, 50)}"
                              th:title="${checkup.name}"></span>

                        <span class="label label-default" th:text="${checkup.action}"></span>
                        <img th:src="@{'/images/' + ${checkup.prevalidation ? 'PRE_VALIDATION' : 'POST_VALIDATION'} + '.png'}" th:title="${checkup.prevalidation ? 'PRE_VALIDATION' : 'POST_VALIDATION'}"></img>

                        <ul class="nav nav-pills pull-right">   
                            <li>
                                <a th:href="@{'/workbench/job/checkup/' + ${checkup.id}}" title="Workbench" target="_blank">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>

                        <hr/>

                        <table th:id="'table_paginated_clean_' + ${checkup.id}" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:5%" class="img-sort">Status</th>
                                    <th style="width:10%">Date</th>
                                    <th style="width:25%">SQL</th>
                                    <th style="width:15%">Result</th>
                                    <th style="width:10%" class="no-sort" ></th>
                                    <th style="width:10%" >Threshold</th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="checkupLog, checkupLogStat : ${checkup.log}" th:unless="${checkupLogStat.index >= 5}">
                                    <td th:text="${checkup.id}"></td>  
                                    <td>
                                        <th:block th:switch="${checkupLog.success}">
                                            <span th:case="true" class="label label-success" th:title="SUCCESS" th:text="SUCCESS"></span>
                                            <span th:case="false" class="label label-danger" th:title="FAILURE" th:text="FAILURE"></span>
                                        </th:block>
                                    </td>
                                    <td th:text="${#dates.format(checkupLog.date, 'yyyy-MM-dd HH:mm:ss')}"></td>                                                      
                                    <td>
                                        <span th:text="${#strings.length(checkupLog.query) > 65 ? #strings.substring(checkupLog.query,0,65) : checkupLog.query}"></span>                                
                                        <div class="btn-group" 
                                             th:if="${#strings.length(checkupLog.query) > 65}">                                    
                                            <button class="dropdown-toggle close" 
                                                    data-toggle="dropdown">...</button>
                                            <ul class="dropdown-menu">                                                
                                                <li>
                                                    <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.query}"></code>
                                                    </pre>
                                                </li>  
                                            </ul>
                                        </div>
                                    </td>  
                                    <td>
                                        <span th:text="${#strings.length(checkupLog.value) > 35 ? #strings.substring(checkupLog.value,0,35) : checkupLog.value}"></span>                                
                                        <div class="btn-group" th:if="${#strings.length(checkupLog.value) > 35}">                                    
                                            <button class="dropdown-toggle close" 
                                                    data-toggle="dropdown">...</button>
                                            <ul class="dropdown-menu">                                                
                                                <li>
                                                    <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.value}"></code>
                                                    </pre>
                                                </li>  
                                            </ul>
                                        </div>
                                    </td>
                                    <td th:text="${checkupLog.conditional}"></td>
                                    <td th:text="${checkupLog.threshold}"></td>
                                    <td>                                   
                                        <div th:if="${not #lists.isEmpty(checkupLog.commandLog)}">
                                            <table class="table borderless">
                                                <thead>
                                                    <tr>
                                                        <th style="width:10%" class="img-sort">Status</th> 
                                                        <th class="no-sort">Command</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="commandLog, commandLogStat : ${checkupLog.commandLog}"> 
                                                        <td>
                                                            <th:block th:switch="${commandLog.success}">
                                                                <span th:case="true" class="label label-success" th:title="SUCCESS" th:text="SUCCESS"></span>
                                                                <span th:case="false" class="label label-danger" th:title="FAILURE" th:text="FAILURE"></span>
                                                            </th:block>
                                                        </td>
                                                        <td>
                                                            <a th:inline="text" th:href="@{'/checkup/log/' + ${commandLog.id}}">
                                                                [[${ (commandLogStat.index + 1) + '° ' + commandLog.commandType}]]
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>                                
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>

            <hr/>  

            <a th:href="@{'/job/view/' + ${job.id}}" th:title="${job.name}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-file"></span> Job
            </a>

            <a th:href="@{'/flow/job/' + ${job.id}}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-random"></span> Flow
            </a>

            <a th:href="@{'/propagation/job/' + ${job.id}}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-transfer"></span> Propagation
            </a>
        </div>
        <script>
            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });
        </script>
    </body>
</html>