<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">

        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th th:inline="text">
                        <h3 class="page-title">[[${job.name}]]</h3>
                    </th>

                    <th class="btn-action">
                        <a th:href="@{'/job/view/' + ${job.id}}" title="View">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </th>

                    <th class="btn-action">
                        <a th:href="@{'/flow/job/' + ${job.id}}" title="Flow">
                            <span class="glyphicon glyphicon-random"></span>
                        </a>
                    </th>

                    <th class="btn-action">
                        <a th:href="@{'/propagation/job/' + ${job.id}}" title="Propagation">
                            <span class="glyphicon glyphicon-transfer"></span>
                        </a>
                    </th>
                </tr>
            </table>

            <div class="space-top" th:if="${not #lists.isEmpty(job.checkup)}">
                <form class="form-horizontal" th:method="post" th:action="@{'/approval/submit/' + ${job.id}}" th:object="${jobApproval}">
                    <div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend class="space-top">Approval</legend>
                                    <textarea class="form-control" th:field="*{description}" required="true" rows="3" minlength="15" maxlength="65000"></textarea>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-generic btn-sm" name="approve_job">
                                    <span class="glyphicon glyphicon-thumbs-up">
                                    </span> 
                                    Approve
                               	</button>
                                <button type="submit" class="btn btn-delete btn-sm" name="disapprove_job">
                                    <span class="glyphicon glyphicon-thumbs-down">
                                    </span> 
                                    Disapprove
                               	</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div th:each="checkup, checkupStat : ${job.checkup}" th:remove="tag">
                    <fieldset th:if="${not #lists.isEmpty(checkup.log)}" >
                        <legend class="space-top" th:inline="text">[[${ checkup.name + '  |  ' + ( checkup.prevalidation ? 'PRE_VALIDATION' : 'POST_VALIDATION' ) + '  |  ' + checkup.action}]]</legend>
                        <table th:id="'table_clean' + ${checkup.id}" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:5%" class="img-sort">Status</th>
                                    <th style="width:10%">Date</th>
                                    <th style="width:25%">SQL</th>
                                    <th style="width:15%">Result</th>
                                    <th style="width:10%" class="no-sort" ></th>
                                    <th style="width:10%" >Threshold</th>
                                    <th class="no-sort"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="checkupLog, checkupLogStat : ${checkup.log}" th:unless="${checkupLogStat.index >= 5}">
                                    <td th:text="${checkup.id}"></td>  
                                    <td><img class="status" th:src="@{'/images/' + ${ checkupLog.success ? 'SUCCESS' : 'FAILURE' } + '.png' }" th:attr="title=${ checkupLog.success ? 'SUCCESS' : 'FAILURE' }"></img></td>                                 
                                    <td th:text="${#dates.format(checkupLog.date, 'yyyy-MM-dd HH:mm:ss')}"></td>                                                      
                                    <td>
                                        <span th:text="${#strings.length(checkupLog.query) > 65 ? #strings.substring(checkupLog.query,0,65) : checkupLog.query}"></span>                                
                                        <div class="btn-group" 
                                             th:if="${#strings.length(checkupLog.query) > 65}">                                    
                                            <button class="dropdown-toggle close" 
                                                    data-toggle="dropdown">...</button>
                                            <ul class="dropdown-menu">                                                
                                                <li>
                                                    <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.query}"></code>
                                                    </pre>
                                                </li>  
                                            </ul>
                                        </div>
                                    </td>  
                                    <td>
                                        <span th:text="${#strings.length(checkupLog.value) > 35 ? #strings.substring(checkupLog.value,0,35) : checkupLog.value}"></span>                                
                                        <div class="btn-group" th:if="${#strings.length(checkupLog.value) > 35}">                                    
                                            <button class="dropdown-toggle close" 
                                                    data-toggle="dropdown">...</button>
                                            <ul class="dropdown-menu">                                                
                                                <li>
                                                    <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.value}"></code>
                                                    </pre>
                                                </li>  
                                            </ul>
                                        </div>
                                    </td>
                                    <td th:text="${checkupLog.conditional}"></td>
                                    <td th:text="${checkupLog.threshold}"></td>
                                    <td>
                                        <div th:if="${checkup.command}">
                                            <table  class="table borderless">
                                                <tbody>
                                                    <tr th:each="commandLog, commandLogStat : ${checkupLog.commandLog}" th:remove="tag">
                                                        <td style="width:5%"><img class="hanger-img-sm" th:src="@{'/images/' + ${ commandLog.success ? 'SUCCESS' : 'FAILURE' } + '.png' }" th:attr="alt=${ commandLog.success }"></img></td>
                                                        <td>
                                                            <a th:inline="text" th:href="@{'/checkup/log/' + ${commandLog.id}}">
                                                                [[${ (commandLogStat.index + 1) + '. ' + commandLog.commandType}]]
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>                                
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
        <script>
            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });
        </script>
    </body>
</html>