<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>        
        <div class="container">
            <!--Fragment-->
            <div th:fragment="resultSet">
                <div th:if="${ errorMessage != null }">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>  
                </div> 

                <!--Table or graph selector-->
                <ul class="nav nav-pills pull-right" id="tabSelector">                    
                    <li class="active">
                        <a data-toggle="tab" href="#list">
                            <span class="glyphicon glyphicon-th-list" title="Table"></span>
                        </a>                                
                    </li>
                    <li >
                        <a data-toggle="tab" href="#graph">
                            <span class="glyphicon glyphicon-signal" title="Chart"></span>
                        </a>  
                    </li>
                </ul>

                <div th:if="${ errorMessage == null }">
                    <div class="tab-content">
                        <!--Table view-->
                        <div id="list" class="tab-pane fade active in">
                            <div class="row col-sm-12">
                                <table id="table" class="table table-hover space-top table-workbench-result">
                                    <thead> 
                                        <tr>
                                            <th 
                                                th:each="header: ${resultset.header}" 
                                                class="column-title" 
                                                th:text="${header}" 
                                                data-toggle="tooltip" 
                                                data-placement="top"
                                                th:title="${resultset.type.get(header)}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="row: ${resultset.row}">
                                            <td th:each="column: ${row.column}" th:text="${column}" />
                                        </tr>
                                    </tbody>
                                </table>

                                <span class="pull-right" th:inline="text">Query time: [[${resultset.elapsedTime}]] ms</span>
                            </div>
                        </div>

                        <!--Graph view-->
                        <div id="graph" class="tab-pane fade in">
                            <div class="row col-sm-12">
                                <div class="row col-sm-3">
                                    <div class="form-group">
                                        <fieldset>
                                            <legend>Label</legend>
                                            <div th:each="header: ${resultset.header}">
                                                <div th:if="${
                                                     #strings.contains(resultset.className.get(header),'String') 
                                                     || #strings.contains(resultset.className.get(header),'Date')
                                                     || #strings.contains(resultset.className.get(header),'Time')}">

                                                    <input type="radio" th:id="${'label_' + header}" name="label"/>
                                                    <label class="checkbox-label" th:text="${header + ' (' + resultset.type.get(header) + ')'}"></label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="form-group">
                                        <fieldset>
                                            <legend>Value</legend>
                                            <div th:each="header: ${resultset.header}">
                                                <div th:if="${
                                                     not #strings.contains(resultset.className.get(header),'String')
                                                     && not #strings.contains(resultset.className.get(header),'Date') 
                                                     && not #strings.contains(resultset.className.get(header),'Time')}">

                                                    <input type="checkbox" th:id="${'dataset_' + header}"/>
                                                    <label class="checkbox-label" th:text="${header + ' (' + resultset.type.get(header) + ') [SUM]'}"></label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="row col-sm-9">
                                    <canvas th:id="workbenchChart" width="800" height="600"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var label = "";
                        var context = document.getElementById('workbenchChart');
                        var resultset = /*[[${resultset.toJSONObject()}]]*/ "";
                        var indexes = [];

                        var chart = new Chart(context, {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: []
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                            gridLines: {
                                                display: false
                                            },
                                            ticks: {
                                                beginAtZero: true,
                                                fontColor: "#999999"
                                            }
                                        }],
                                    yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                padding: 20
                                            }
                                        }]
                                },
                                plugins: {
                                    colorschemes: {
                                        scheme: 'brewer.PastelTwo8'
                                    },
                                    datalabels: {
                                        font: {
                                            weight: 'bold'
                                        },
                                        formatter: function (value) {
                                            return Math.round(value * 100) / 100;
                                        }
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: 10,
                                        right: 30,
                                        top: 30
                                    }
                                }
                            }
                        });

                        /**
                         * Add graph label. 
                         */
                        $(":radio").on('change', function () {
                            let uniqueLabels = [];
                            let labels = resultset[$(this).attr('id').replace('label_', '')];

                            //Identifies the selected label.
                            label = $(this).attr('id').replace('label_', '');

                            //Identifies unique labels values.
                            labels.forEach((c) => {
                                if (!uniqueLabels.includes(c)) {
                                    uniqueLabels.push(c);
                                }
                            });

                            //Resets the dataset selection.
                            $(":checkbox").prop("checked", false);

                            //Resets chart dataset properties, values and indexes.
                            indexes.splice(0, indexes.length);
                            chart.data.datasets.splice(0, chart.data.datasets.length);
                            chart.data.labels = uniqueLabels;

                            //Updates chart label.                            
                            chart.update();
                        });

                        /**
                         * Add graph datasets. 
                         */
                        $(":checkbox").on('change', function () {
                            if ($(this).is(':checked')) {
                                let uniqueLabels = [];
                                let summarizedValues = [];
                                let labels = resultset[label];
                                let values = resultset[$(this).attr('id').replace('dataset_', '')];

                                //Sumarrizes resultset values. 
                                for (var i = 0; i < labels.length; i++) {
                                    if (!uniqueLabels.includes(labels[i])) {
                                        uniqueLabels.push(labels[i]);
                                        summarizedValues.push(parseFloat(values[i]));
                                    } else {
                                        summarizedValues[uniqueLabels.indexOf(labels[i])] += parseFloat(values[i]);
                                    }
                                }

                                //Identifies dataset position.
                                indexes.push($(this).attr('id'));

                                //Adds values to the chart dataset.
                                chart.data.datasets.push({
                                    label: $(this).attr('id').replace('dataset_', ''),
                                    fill: false,
                                    pointRadius: 3,
                                    borderWidth: 2,
                                    data: summarizedValues,
                                });
                            } else {
                                var index = indexes.indexOf($(this).attr('id'));

                                //Removes a dataset from chart by position.
                                if (index > -1) {
                                    indexes.splice(index, 1);
                                    chart.data.datasets.splice(index, 1);
                                }
                            }

                            chart.update();
                        });
                        /*]]>*/
                    </script>
                </div>
            </div>       	
    </body>
</html>
