<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <!--OPTION FRAGMENT BEGIN-->
            <div class="modal fade" 
                 id="modalQueryEmail" 
                 tabindex="-1" 
                 role="dialog" 
                 aria-labelledby="modalQueryEmailLabel" 
                 th:fragment="email">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" 
                                    class="close" 
                                    data-dismiss="modal" 
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" 
                                id="modalQueryEmailLabel">E-mail</h4>
                        </div>   
                        <form class="form-horizontal" 
                              th:action="@{/export/email}" 
                              th:object="${export}"
                              method="post">

                            <!--Query-->
                            <input type="hidden" th:field="*{query}"/>                            
                            <!--Connection-->
                            <input type="hidden" th:field="*{connection}"/>

                            <div class="modal-body">
                                <div th:if="${ errorMessage != null }" 
                                     class="form-group">
                                    <!--Validation-->
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" 
                                             role="alert">
                                            <span th:text="${errorMessage}"></span>
                                        </div>  
                                    </div> 
                                </div>
                                <label>To</label> 
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            maxlength="255"                                            
                                            placeholder="Use semicolon(;) to separate the emails addresses"
                                            th:field="*{recipient}" 
                                            required="true" />
                                    </div>
                                </div>  
                                <label>Subject</label> 
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            maxlength="50"                                            
                                            placeholder="E-mail subject"
                                            th:field="*{subject}" 
                                            required="true" />
                                    </div>
                                </div>  
                                <label>Body</label> 
                                <div class="form-group">
                                    <div class="col-sm-12">                                        
                                        <textarea 
                                            id="query" 
                                            class="form-control" 
                                            th:field="*{content}"
                                            rows="5" 
                                            maxlength="10000"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="checkbox" id="send_query" th:field="*{queryContent}" />
                                        <label for="send_query">Send the query in message body</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">    
                                <button 
                                    type="button" 
                                    class="btn btn-generic btn-sm" 
                                    data-dismiss="modal">
                                    Close
                                </button>
                                <button 
                                    type="submit" 
                                    class="btn btn-generic btn-sm">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
            <!--OPTION FRAGMENT END-->
        </div>
    </body>
</html>
