<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>

    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <div class="tab-content">
                <table>
                    <tr>
                        <th>
                            <h3 class="page-title">Workbench</h3>
                        </th>
                        <th class="btn-action">
                            <a th:href="@{'/query/list/'}" 
                               title="Stored queries">
                                <span 
                                    class="glyphicon glyphicon-bookmark"></span>
                            </a>
                        </th>
                    </tr>            
                </table>

                <div class="form-horizontal">
                    <div th:if="${ errorMessage != null }" class="form-group">
                        <div class="alert alert-danger" role="alert">
                            <span th:text="${errorMessage}"></span>
                        </div>  
                    </div>
                    <div th:if="${ successMessage != null }" class="form-group">
                        <div class="alert alert-info" role="alert">
                            <span th:text="${successMessage}"></span>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Connection</label>
                                <select 
                                    id="connection" 
                                    class="selectpicker form-control" 
                                    data-live-search="true" 
                                    required="true" 
                                    placeholder="Connection">
                                    <option th:each="connection : ${connections}" 
                                            th:value="${connection.id}" 
                                            th:text="${connection.name}"
                                            th:selected="${connectionQueryStore != null ? connection == connectionQueryStore.connection : 0}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group col-div-jstree">
                                <input type="text"
                                       id="jstree-search"
                                       class="form-control form-control-search" 
                                       maxlength="50" 
                                       placeholder="Search: "/>

                                <div class="div-jstree">
                                    <div id="jstree"></div>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-sm-9 col-div-query">
                            <div class="form-group">
                                <textarea 
                                    class="form-control" 
                                    id="query" 
                                    required="true" 
                                    rows="10" 
                                    minlength="1" 
                                    maxlength="5000"
                                    th:text="${connectionQueryStore != null ? connectionQueryStore.query : ''}"></textarea>
                            </div>
                        </div>
                    </div>                    

                    <div class="row">
                        <button 
                            id="store-query-button" 
                            class="btn btn-generic pull-right btn-space" 
                            type="button">

                            <span class="glyphicon glyphicon-download-alt" 
                                  aria-hidden="true"></span> Store
                        </button>

                        <button 
                            id="query-button" 
                            class="btn btn-generic pull-right btn-space" 
                            type="button">

                            <span class="glyphicon glyphicon-search" 
                                  aria-hidden="true"></span> Query
                        </button>                        

                        <button 
                            id="wait" 
                            type="button"
                            class="btn btn-default btn-sm pull-left" 
                            style="display:none;">

                            <img th:src="@{'/images/ajax-loader.gif'}"></img>
                        </button>
                    </div>

                    <hr/>

                    <!--Fragment--> 
                    <div id="fragmentQueryResultSetHolder"/>
                </div>
            </div>

            <!--AJAX Parent modal --> 
            <div id="modalHolder"/>
        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                // Connection ID.
                var connection;

                /**
                 * Change connection event.
                 */
                $("#connection").change(function (e) {
                    $("#wait").css("display", "block");

                    connection = $(this).val();

                    // Load connections entities.
                    getConnectionEntities();
                });

                /**
                 * Starts firing the selected connection.
                 */
                $("#connection").trigger('change');

                window.editor = CodeMirror.fromTextArea(document.getElementById('query'), {
                    mode: 'text/x-sql',
                    indentWithTabs: true,
                    smartIndent: true,
                    lineNumbers: true,
                    matchBrackets: true,
                    autofocus: true,
                    extraKeys: {"Ctrl-Enter": function () {
                            query();
                        }}
                });

                /**
                 * Set header CSRF Token.
                 * @returns {undefined}
                 */
                $.ajaxSetup({
                    headers: {'X-CSRF-Token': $('#_csrf').attr('content')}
                });

                /**
                 * Define ajax start behavior. 
                 * @returns {undefined}
                 */
                $(document).ajaxStart(function () {
                    $("#wait").css("display", "block");
                    $("#query").prop("disabled", true);
                    $("#query-button").prop("disabled", true);
                });

                /**
                 * Define ajax complete behavior. 
                 * @returns {undefined}
                 */
                $(document).ajaxComplete(function () {
                    $("#wait").css("display", "none");
                    $("#query").prop("disabled", false);
                    $("#query-button").prop("disabled", false);
                });

                /**
                 * Trigger job details search on search button click. 
                 */
                $("#query-button").click(function () {
                    query();
                });

                /**
                 * Trigger job details search on history click.
                 * @returns {undefined}
                 */
                $("[id^=query_]").click(function () {
                    query();
                });

                /**
                 * Opens modal to store a query.
                 */
                $("#store-query-button").click(function () {
                    queryStoreModal();
                });

                /**
                 * Jstree Search
                 * @returns {undefined}
                 */
                var timeOut = false;
                $('#jstree-search').keyup(function () {
                    if (timeOut) {
                        clearTimeout(timeOut);
                    }
                    timeOut = setTimeout(function () {
                        var v = $('#jstree-search').val();
                        $('#jstree').jstree(true).search(v);
                    }, 250);
                });

                /**
                 * Search for job that match the search input value. 
                 * @returns {undefined}
                 */
                function query() {
                    var connection = $('#connection').val();
                    var url = /*[[@{/workbench/query/}]]*/ "/workbench/query/";
                    var query = window.editor.getSelection();

                    if (query === "") {
                        query = window.editor.getValue();
                    }

                    if (query !== "") {
                        $.ajax({
                            type: "POST",
                            url: url + connection,
                            data: query,
                            contentType: "text/html",
                            timeout: 1000000,
                            success: function (result) {
                                $("#fragmentQueryResultSetHolder").html(result);
                                $('.table').DataTable(
                                        {
                                            "paging": false,
                                            "info": false,
                                            "searching": true,
                                            "retrieve": true,
                                            "order": [],
                                            "columnDefs": [{
                                                    "targets": 'no-sort',
                                                    "orderable": false
                                                }
                                            ]
                                        });
                            },
                            error: function (e) {
                                alert("Fail loading query resultset: "
                                        + e.statusText);
                            }
                        });
                    }
                }

                /**
                 * Construct jsTree
                 * @param {object} data
                 */
                function createJSTree(data) {
                    $('#jstree').jstree({"core": {
                            "data": data
                        },
                        'contextmenu': {
                            'items': customMenu
                        },
                        "plugins": ["sort", "wholerow", "contextmenu", "search"],
                        "search": {
                            "show_only_matches": true
                        }
                    });
                }
                ;

                /**
                 * Load catalog/schema and tables in the plugin jsTree.
                 * @returns {undefined}
                 */
                function getConnectionEntities() {
                    // Clear jsTree.
                    $('#jstree').jstree("destroy").empty();

                    var url = /*[[@{/connection/}]]*/ "/connection/";

                    $.ajax({
                        url: url + connection + "/table/list",
                        type: 'GET'
                    }).done(function (result) {
                        var arrayTable = [];
                        var arrayCatalogSchema = [];

                        $.each(result, function (index, data) {
                            var catalogSchema = data.catalogSchema;
                            var catalog = data.catalog;
                            var schema = data.schema;
                            var table = data.table;
                            var target = data.target;

                            // Save not to duplicate the catalog/schema.
                            if ($.inArray(catalogSchema, Object.keys(arrayCatalogSchema)) === -1) {
                                arrayCatalogSchema[catalogSchema] = index;

                                // Add catalog/schema in the object.
                                arrayTable.push({
                                    'id': index,
                                    "parent": "#",
                                    "text": catalogSchema,
                                    "icon": "glyphicon glyphicon-th-list"
                                });
                            }
                            ;

                            // Add table in the object.
                            arrayTable.push({
                                'id': 100000 + index,
                                "parent": arrayCatalogSchema[catalogSchema],
                                "text": table,
                                "icon": "glyphicon glyphicon-th-large",
                                "a_attr": {
                                    "ondblclick": "fillQuery('" + catalogSchema + "', '" + table + "', '" + target + "')",
                                    "catalog": catalog,
                                    "schema": schema,
                                    "table": table
                                }
                            });
                        });

                        createJSTree(arrayTable);

                        $("#wait").css("display", "none");

                    }).fail(function () {
                        alert("Fail loading the tables.");
                        $("#wait").css("display", "none");
                    });
                }

                /**
                 * Refresh connection cache.
                 */
                function refreshCache() {
                    var url = /*[[@{/connection/evict/}]]*/ "/connection/evict/";

                    $.ajax({
                        type: "GET",
                        url: url + connection,
                        contentType: "text/html",
                        timeout: 1000000,
                        success: function (result) {
                            getConnectionEntities();
                        },
                        error: function (e) {
                            alert("Fail refreshing connection cache: " + e.statusText);
                        }
                    });
                }

                /**
                 * Right click menu on table list.
                 * 
                 * @param {type} node current element.
                 * @returns {workbenchL#2.customMenu.items}
                 */
                function customMenu(node) {
                    {
                        var items = {
                            'refresh': {
                                'label': 'Refresh',
                                'icon': 'glyphicon glyphicon-refresh',
                                'title': 'Refresh connection. (Shortcut F1)',
                                'shortcut': 112,
                                'action': function () {
                                    refreshCache();
                                }
                            },
                            'metadata': {
                                'label': 'Metadata',
                                'icon': 'glyphicon glyphicon-th',
                                'title': 'Open entity metadata. (Shortcut F2)',
                                'shortcut': 113,
                                'action': function () {
                                    tableMetadataModal(node);
                                },
                                // catalog or schema doesn't have metadata.
                                '_disabled': node.parent === "#"
                            }
                        };
                        return items;
                    }
                }

                /**
                 * Table metadata modal. 
                 * 
                 * @param {type} node
                 * @returns {undefined}
                 */
                function tableMetadataModal(node) {
                    var url = /*[[@{/connection/modal/}]]*/ "/connection/modal/";

                    $.ajax({
                        type: "GET",
                        url: url + connection + "/table/column/" + node.a_attr.catalog + "/" + node.a_attr.schema + "/" + node.a_attr.table,
                        success: function (result) {
                            $("#modalHolder").html(result);
                            $("#modalTableMetadata").modal({backdrop: 'static', keyboard: false});
                        },
                        error: function (e) {
                            alert("Error getting table metadata: " + e.statusText);
                        }
                    });
                }

                /**
                 * Calls modal with form to store the query. 
                 * @returns {undefined}
                 */
                function queryStoreModal() {
                    var connection = $('#connection').val();
                    var url = /*[[@{/query/store/modal/}]]*/ "/query/store/modal/";
                    var query = window.editor.getValue();

                    $.ajax({
                        type: "POST",
                        url: url + connection,
                        data: query,
                        contentType: "text/html",
                        timeout: 1000000,
                        success: function (result) {
                            $("#modalHolder").html(result);
                            $("#modalQueryStore").modal({backdrop: 'static'});
                        },
                        error: function (e) {
                            alert("Fail loading query resultset: " + e.statusText);
                        }
                    });
                }
            });

            /**
             * Fill query editor with selected catalog and table.
             * 
             * @param {type} catalogSchema
             * @param {type} table
             * @param {type} target
             * @returns {undefined}
             */
            function fillQuery(catalogSchema, table, target) {
                var query = window.editor;
                var select = "";

                if (target === "MSSQL") {
                    select = "SELECT TOP 10 * FROM " + catalogSchema + "." + table + ";";
                } else {
                    select = "SELECT * FROM " + catalogSchema + "." + table + " LIMIT 10;";
                }

                query.setValue(select);
                query.focus();
            }
        </script>    
    </body>
</html>
