<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <center>           
                <ul class="nav nav-pills space-top">
                    <li role="presentation" class="pull-right" th:each="subjects : ${subjectSummary}">
                        <a th:href="@{'/detail/' + ${subjects.subject.id}}" th:inline="text">                                                     
                            [[${subjects.subject.name}]] 
                            <span class="badge" th:text="${subjects.jobCount}"></span>
                        </a>
                    </li>
                    <li role="presentation" th:if="${not #lists.isEmpty(warnings)}">
                        <a href="#" th:id="'modal_warning_' + ${job.id}" th:name="${job.id}" th:inline="text">                                                     
                            WARNING 
                            <span class="badge badge-warning" th:text="${#lists.size(warnings)}"></span>
                        </a>
                    </li>
                    <li role="presentation" th:if="${not #lists.isEmpty(job.email)}">
                        <a href="#" th:id="'modal_emails_' + ${job.id}" th:name="${job.id}" th:inline="text">                                                     
                            E-MAIL 
                            <span class="badge" th:text="${#lists.size(job.email)}"></span>
                        </a>
                    </li>
                </ul>

                <div th:if="${errorMessage != null}">
                    <!--Error-->
                    <div>
                        <div class="alert alert-danger" role="alert">
                            <span th:text="${errorMessage}"></span>
                        </div>
                    </div>
                </div>

                <div th:if="${successMessage != null}">
                    <!--Success-->
                    <div>
                        <div class="alert alert-success" role="alert">
                            <span th:text="${successMessage}"></span>
                        </div>
                    </div>
                </div>
            </center>

            <div class="chart dragscroll" id="flow" style="overflow-y: auto; margin-left: 225px; left: 0px"></div>

            <div id="zoom_control" class="btn-group-vertical" >
                <button title="Zoom Out" role="button" id="zoom_in" class="btn btn-group-md"><span class="glyphicon glyphicon-zoom-in"></span></button>
                <button title="Zoom In" role="button" id="zoom_out" class="btn btn-group-md"><span class="glyphicon glyphicon-zoom-out"></span></button>

                <div th:if="${ not #httpServletRequest.getRequestURI().contains('/propagation/') }">
                    <a title="Expand All" role="button" id="zoom_out" class="btn btn-group-md" th:href="@{?expanded=true}"><span class="glyphicon glyphicon-resize-full"></span></a>
                    <a title="Collapse All" role="button" id="zoom_out" class="btn btn-group-md" th:href="@{?expanded=false}"><span class="glyphicon glyphicon-resize-small"></span></a>
                </div>

                <div th:if="${approval}">
                    <a title="Approval" role="button" id="zoom_out" class="btn btn-group-md" th:href="@{'/approval/approval/' + ${job.id}}"><span class="glyphicon glyphicon-check"></span></a>
                </div>

                <button title="Glossary" role="button" id="question" class="btn btn-group-md" data-toggle="modal" th:attr="data-target='#modalGlossary'"><span class="glyphicon glyphicon-question-sign"></span></button>
            </div>

            <script th:utext="${chart}"></script>           
        </div>

        <!-- modal glossary begin-->
        <div class="modal fade" id="modalGlossary" tabindex="-1" role="dialog" aria-labelledby="modalGlossaryLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalJobListLabel">What does each status means?</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--WAITING-->
                                <tr>
                                    <td><span class="label label-neutral">WAITING</span></td>
                                    <td>Job was not built today yet</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-neutral">RESTRICTED</span></td>
                                    <td>Job has time restriction</td>
                                </tr> 
                                <tr>
                                    <td><span class="label label-default">DISABLED</span></td>
                                    <td>Job is disabled</td>
                                </tr>   

                                <!--SUCCESS-->
                                <tr>
                                    <td><span class="label label-partial">PARTIAL</span></td>
                                    <td>Job builded with partial dependencies</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-success">SUCCESS</span></td>
                                    <td>Job build finished successfully</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-success">UNSTABLE</span></td>
                                    <td>Job build finished successfully but failed at least one time during the day</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-success">APPROVED</span></td>
                                    <td>Unhealthy job approved to continue</td>
                                </tr> 

                                <!--RUNNING-->
                                <tr>
                                    <td><span class="label label-primary">REBUILD</span></td>
                                    <td>Job is being prepared</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-primary">RUNNING</span></td>
                                    <td>Job is running</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-primary">CHECKUP</span></td>
                                    <td>Job checkups are running</td>
                                </tr>

                                <!--FAILURE-->
                                <tr>
                                    <td><span class="label label-danger">UNHEALTHY</span></td>
                                    <td>Post-validation job checkup failed</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-danger">BLOCKED</span></td>
                                    <td>Pre-validation job checkup failed</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-danger">FAILURE</span></td>
                                    <td>Build failure</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-danger">ABORTED</span></td>
                                    <td>Build aborted</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-danger">DISAPPROVED</span></td>
                                    <td>Unhealthy job not approved to continue</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-danger">ERROR</span></td>
                                    <td>Something really weird happened :O</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">                                
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                            <span aria-hidden="true"></span> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal glossary end-->

        <!--Modal Build Mesh-->
        <div class="modal fade" id="mesh" tabindex="-1" role="dialog" aria-labelledby="modalBuildMesh">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalParentLabel">Attention</h4>
                    </div>
                    <div class="modal-body">
                        <span>This action forces all mesh to be rebuilt. Are you sure?</span>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="build_mesh" class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm">
                            Yes
                        </a>
                        <a class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm" data-dismiss="modal" aria-label="Close">
                            No
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--AJAX Parent modal --> 
        <div id="modalHolder"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/

            var scale = 90;
            var timeout = 2500;
            var isAuthenticated = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
            var job;

            /**
             * Chart actions.                 
             */
            $('.chart').css('zoom', scale + '%');

            $(".chart").mousedown(function () {
                $('.chart').css('cursor', 'grab');
            });

            $(".chart").mouseup(function () {
                $('.chart').css('cursor', '');
            });

            $("#zoom_in").click(function () {
                scale = scale = (scale === 90 ? scale : scale + 5);
                $('.chart').css('zoom', scale + '%');
            });

            $("#zoom_out").click(function () {
                scale = (scale === 50 ? scale : scale - 5);
                $('.chart').css('zoom', scale + '%');
            });

            /**
             * Modal warning action.                 
             */
            $("[id^=modal_warning_]").click(function () {
                var url = /*[[@{/flow/warning/}]]*/ "/flow/warning/";
                var job = $(this).attr("name");

                $.ajax({
                    type: "GET",
                    url: url + job,
                    timeout: 30000,
                    success: function (result) {
                        $("#modalHolder").html(result);
                        $("#modalWarning").modal({backdrop: 'static', keyboard: false});
                    },
                    error: function (e) {
                        alert("Fail loading job warning " + e);
                    }
                });
            });

            /**
             * Modal email action.                 
             */
            $("[id^=modal_emails_]").click(function () {
                var url = /*[[@{/job/emails/}]]*/ "/job/emails/";
                var job = $(this).attr("name");

                $.ajax({
                    type: "GET",
                    url: url + job,
                    timeout: 30000,
                    success: function (result) {
                        $("#modalHolder").html(result);
                        $("#modalEmails").modal({backdrop: 'static', keyboard: false});
                    },
                    error: function (e) {
                        alert("Fail loading job emails " + e);
                    }
                });
            });

            /**
             * Right click menu of jobs.                 
             */
            $('.flow-job-clickable').on("contextmenu", function (e) {
                e.preventDefault();
                job = this.id;
                var enabled = isEnabled(job);

                // Build a Job.
                var build = function () {
                    var url = /*[[@{/job/build/silently/}]]*/ "/job/build/silently/";
                    buildJob(job, url);
                };

                var mesh = function () {
                    $("#mesh").modal({backdrop: 'static', keyboard: false});
                };

                var flow = function () {
                    var flowUrl = /*[[@{/flow/job/}]]*/ "/flow/job/";
                    window.open(flowUrl + job, '_blank');
                };

                var propagation = function () {
                    var propagationUrl = /*[[@{/propagation/job/}]]*/ "/propagation/job/";
                    window.open(propagationUrl + job, '_blank');
                };

                // Build history modal.
                var buildHistory = function () {
                    var url = /*[[@{/build/history/}]]*/ "/build/history/";

                    $.ajax({
                        type: "GET",
                        url: url + job,
                        timeout: 30000,
                        success: function (result) {
                            $("#modalHolder").html(result);
                            $("#modalHistory").modal({backdrop: 'static', keyboard: true});
                        },
                        error: function (e) {
                            alert("Fail loading job build history " + e);
                        }
                    });
                };

                // Enable or disable a job.
                var enable = function () {
                    var url = /*[[@{/job/enable/}]]*/ "/job/enable/";

                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "timeOut": timeout,
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }

                    $.ajax({
                        type: "GET",
                        url: url + job + "/" + enabled,
                        async: false,
                        timeout: 30000,
                        success: function (result) {
                            toastr.success('Job successfully updated');

                            setTimeout(function () {
                                window.location.reload(1);
                            }, timeout);
                        },
                        error: function (e) {
                            toastr.error('Fail on job update ' + e);
                        }
                    });
                };

                /**
                 * Job chain update modal.
                 * 
                 * @param {type} server Server
                 * @param {type} flow identify flow or propagation.
                 * @returns {undefined}
                 */
                var updateJobChain = function (server, reverse) {
                    var url = /*[[@{/job/modal/update/chain/}]]*/ "/job/modal/update/chain/";

                    $.ajax({
                        type: "GET",
                        url: url + job + "/" + server + "/" + reverse,
                        timeout: 30000,
                        success: function (result) {
                            $("#modalHolder").html(result);
                            $("#modalUpdateJobChain").modal({backdrop: 'static', keyboard: false});
                            $('.selectpicker').selectpicker();
                        },
                        error: function (e) {
                            alert("Error loading jobs from Jenkins " + e);
                        }
                    });
                };

                var servers = /*[[${servers}]]*/ '';
                var submenuParents = [];
                var submenuChildren = [];

                // Build submenu with servers.
                for (var server in servers) {

                    // Submenu for add parents.
                    submenuParents.push({
                        icon: 'glyphicon glyphicon-tasks',
                        label: servers[server].name,
                        id: servers[server].id,
                        action: function (option) {
                            updateJobChain(option.id, false);
                        }
                    });

                    // Submenu for add children.
                    submenuChildren.push({
                        icon: 'glyphicon glyphicon-tasks',
                        label: servers[server].name,
                        id: servers[server].id,
                        action: function (option) {
                            updateJobChain(option.id, true);
                        }
                    });
                }

                // Available actions.
                var items = [
                    {icon: 'glyphicon glyphicon-random', label: 'Flow', action: flow},
                    {icon: 'glyphicon glyphicon-transfer', label: 'Propagation', action: propagation},
                    {},
                    {icon: 'glyphicon glyphicon-time', label: 'Build history', action: buildHistory},
                    {},
                    {
                        icon: 'glyphicon glyphicon-menu-hamburger',
                        label: 'Actions',
                        disabled: !isAuthenticated,
                        submenu: [
                            {icon: 'glyphicon glyphicon-play', label: 'Build', action: build, },

                            // Build Mesh confirm dialog.
                            // TODO - Reativar esta opção após resolução do chamado DENG-924.
                            //{icon: 'glyphicon glyphicon-fast-backward', label: 'Build Mesh', action: mesh},
                            
                            {},
                            {icon: 'glyphicon glyphicon-plus', label: 'Parent', submenu: submenuParents},
                            {icon: 'glyphicon glyphicon-plus', label: 'Children', submenu: submenuChildren},
                            {},
                            {icon: enabled ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open', label: enabled ? 'Disable' : 'Enable', action: enable}
                        ]
                    }
                ];

                superCm.createMenu(items, e);
            });

            /**
             * Start a hanger build or build mesh process.
             * 
             * @param {type} id job id.
             * @param {type} url hanger url;
             * @returns {undefined}
             */
            function buildJob(id, url) {

                if (url) {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "timeOut": timeout,
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }

                    $.ajax({
                        type: "GET",
                        url: url + id,
                        timeout: 30000,
                        success: function (result) {
                            if (result) {
                                toastr.success('Started successfully.');

                                setTimeout(function () {
                                    window.location.reload(1);
                                }, timeout);

                            } else {
                                toastr.error('An error occurred while building.');
                            }
                        },
                        error: function (e) {
                            toastr.error('Error on building request.');
                        }
                    });
                }
            }

            /**
             * Build mesh job chain.
             */
            $("#build_mesh").click(function () {
                // Close confirm modal.
                $('#mesh').modal('toggle');

                var url = /*[[@{/job/rebuild/}]]*/ "/job/rebuild/";
                buildJob(job, url);
            });

            /**
             * Identify if job is enabled.
             * 
             * @param {type} job Job id
             * @returns boolean
             */
            function isEnabled(job) {
                var isEnabledURL = /*[[@{/job/is/enabled/}]]*/ "/job/is/enabled/";
                var isEnabled = true;

                $.ajax({
                    type: "GET",
                    async: false,
                    url: isEnabledURL + job,
                    timeout: 30000,
                    success: function (result) {
                        isEnabled = result;
                    },
                    error: function (e) {
                        isEnabled = true;
                    }
                });

                return isEnabled;
            }

            /*]]>*/
        </script>
    </body>
</html>