<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container">
            <!--Fragment-->
            <div class="modal fade" id="modalJobList" tabindex="-1" role="dialog" aria-labelledby="modalJobListLabel" th:fragment="job">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalJobListLabel">Jobs</h4>
                        </div>
                        <form th:action="@{'add/' + ${subject.id}}" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select id="jobList"
                                                name="jobList" 
                                                class="selectpicker form-control col-xs-6" 
                                                data-live-search="true" 
                                                data-actions-box="true"
                                                multiple="true" 
                                                data-selected-text-format="count > 3">

                                            <option th:each="job : ${jobs}" 
                                                    th:value="${job.id}"
                                                    th:text="${job.name}"
                                                    th:disabled="${!job.enabled}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">                                
                                <button type="button" class="btn btn-generic btn-sm" data-dismiss="modal">
                                    <span aria-hidden="true"></span> Close
                                </button>

                                <button type="submit" name="addJobs" class="btn btn-generic btn-sm">
                                    <span aria-hidden="true"></span> Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
