<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <div>           
                <form class="form-horizontal" th:object="${triggerDetail}" th:action="@{/trigger/save}" method="post">
                    <div class="form-group">
                        <div class="col-sm-10">                            
                        </div>
                    </div>

                    <div th:if="${ errorMessage != null }" class="form-group">
                        <!--Validation-->
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                <span th:text="${errorMessage}"></span>
                            </div>  
                        </div> 
                    </div> 

                    <label>Name</label> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" maxlength="50" th:field="*{name}" placeholder="Trigger name"/>
                            <span th:if="${#fields.hasErrors('name')}" class="help-block" th:errors="*{name}"></span>
                        </div>
                    </div>

                    <label>Description</label> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" maxlength="50" th:field="*{description}" placeholder="Trigger description"/>
                            <span th:if="${#fields.hasErrors('description')}" class="help-block" th:errors="*{description}"></span>
                        </div>
                    </div>

                    <label>Cron Expression</label> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" maxlength="50" th:field="*{cron}" placeholder="Trigger cron"/>
                            <span th:if="${#fields.hasErrors('cron')}" class="help-block" th:errors="*{cron}"></span>
                        </div>
                    </div>
                    <hr/>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" 
                                    class="btn btn-generic btn-sm">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                Save
                            </button>  

                            <div class="btn-group pull-right btn-space dropup">
                                <button type="button" class="btn btn-generic btn-sm" th:id="modal_add_job" th:value="modal_add_job">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Jobs
                                </button>                                                     
                            </div>
                        </div>
                    </div>

                    <!--AJAX Job modal --> 
                    <div id="modalHolder"></div> 
                </form>
            </div>

            <script th:inline="javascript">
                $(document).ready(function () {

                    /**
                     * Show job list modal. 
                     * @returns {undefined}
                     */
                    $("#modal_add_job").click(function () {
                        var url = /*[[@{/trigger/modal/list/}]]*/ "/trigger/modal/list";                 

                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalJobList").modal({backdrop: 'static', keyboard: false});
                                $('.selectpicker').selectpicker();
                            },
                            error: function (e) {
                                alert("Error loading jobs from Jenkins " + e);
                            }
                        });
                    });
                });
            </script>
        </div>
    </body>
</html>