<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th>
                        <h3 class="page-title">Subject</h3>
                    </th>
                    <th class="btn-action">
                        <a th:href="@{'/subject/add/'}" title="Add Subject">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </th>
                </tr>            
            </table>

            <div th:if="${ errorMessage != null }" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>  
            </div>

            <div th:if="${ errorClass != null }" class="form-group">
                <div class="col-sm-10">
                    <div class="alert alert-danger" role="alert">
                        <span th:text="${errorClass}"></span>
                    </div>  
                </div> 
            </div> 

            <!--AJAX Parent modal --> 
            <div id="modalHolder"/>

            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">#</th>
                        <th style="width:80%">Subject</th>
                        <th style="width:1%"><span class="glyphicon glyphicon-bell" title="Notification"></span></th>
                        <th style="width:1%"><span class="glyphicon glyphicon-thumbs-up" title="Subscription"></span></th>
                        <th style="width:1%" class="no-sort"></th>
                        <th style="width:1%" class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subject : ${subjects}">
                        <td th:text="${subject.id}">#</td>
                        <td>
                            <button 
                                class="btn btn-link btn-sm hanger-no-border " 
                                th:text="${subject.name}" 
                                title="Show subject details." 
                                th:id="'modal_subject_detail_' + ${subject.id}" 
                                th:value="${subject.id}">                                    
                            </button>
                        </td>
                        <td>
                            <div th:if="${subject.notified}">
                                <span th:attr="title=${ not #lists.isEmpty(subject.channel) ?  'Channels: ' + subject.channel : 'Default channel' }"  
                                      class="glyphicon glyphicon-bell">
                                </span>
                            </div>
                        </td>
                        <td>
                            <th:block th:switch="${subject.mandatory}">
                                <div th:case="true">
                                </div>
                                <div th:case="false">
                                    <label th:attr="title=${#lists.size(subject.user) + ' subscriptions'}">
                                        <input  
                                            name="subscribe"
                                            type="checkbox" 
                                            th:id="${'subscribe_' + subject.id}" 
                                            th:value="${subject.id}" 
                                            th:checked="${#lists.contains(subject.user, loggedIn)}"
                                            th:disabled="${!#authorization.expression('isAuthenticated()')}"/>
                                    </label>
                                </div>
                            </th:block>
                        </td>
                        <td>
                            <a th:href="@{'/subject/edit/' + ${subject.id}}" class="btn btn-generic btn-xs">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                        </td>
                        <td>
                            <div class="form-group">
                                <a class="btn btn-xs btn-delete" data-toggle="modal" th:attr="data-target='#'+${subject.id}" href="">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                </a>
                            </div>

                            <!-- INÍCIO MODAL DELETE -->
                            <div class="modal fade" th:id="${subject.id}" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modalParentLabel">Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span th:inline="text">Are you sure you want to delete [[${subject.name}]]?</span>
                                        </div>
                                        <div class="modal-footer"> 
                                            <a th:href="@{'/subject/delete/' + ${subject.id}}" class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm">
                                                Yes
                                            </a>
                                            <a class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm" data-dismiss="modal" aria-label="Close">
                                                No
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM MODAL DELETE -->

                        </td>
                    </tr>
                </tbody>
            </table>
            <center>
                <button id="modal_wait" type="button" class="btn btn-default btn-sm" style="display:none;">
                    <img th:src="@{'/images/ajax-loader.gif'}"></img>
                </button>
            </center>
        </div>
        <script th:inline="javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "timeOut": "2500",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                /**
                 * Show wait panel.
                 * @returns {undefined}
                 */
                $(document).ajaxStart(function () {
                    $("#modal_wait").css("display", "block");
                });

                /**
                 * Hide wait panel.
                 * @returns {undefined}
                 */
                $(document).ajaxComplete(function () {
                    $("#modal_wait").css("display", "none");
                });

                /**
                 * Set header CSRF Token.
                 * @returns {undefined}
                 */
                $.ajaxSetup({
                    headers: {'X-CSRF-Token': $('#_csrf').attr('content')}
                });

                /**
                 * Subject subscription and unsubscription.
                 * @returns {undefined}
                 */
                $("[id^=subscribe_]").change(function () {
                    var url;
                    var subject = $(this).val();
                    var subscription = $(this).prop("checked");

                    if (subscription) {
                        url = /*[[@{/subject/subscribe/}]]*/ "/subject/subscribe/";
                    } else {
                        url = /*[[@{/subject/unsubscribe/}]]*/ "/subject/unsubscribe/";
                    }

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: subject,
                        contentType: "text/html",
                        timeout: 30000,
                        success: function (result) {
                            if (subscription) {
                                toastr.success('Subscribed');
                            } else {
                                toastr.success('Unsubscribed');
                            }
                        },
                        error: function (xhr, status, error) {
                            toastr.error('Subscription failure');
                            alert("Subscription error " + xhr.responseText);
                        }
                    });
                });

                /**
                 * Show subject details modal. 
                 * @returns {undefined}
                 */
                $("[id^=modal_subject_detail_]").click(function () {
                    var url = /*[[@{/subject/modal/detail/}]]*/ "/subject/modal/detail/";
                    var subject = $(this).val();

                    $.ajax({
                        type: "GET",
                        url: url + subject,
                        success: function (result) {
                            $("#modalHolder").html(result);
                            $("#modalJobDetails").modal({backdrop: 'static', keyboard: false});
                        },
                        error: function (e) {
                            alert("Error loading subject details: " + e);
                        }
                    });
                });
            });
        </script>
    </body>
</html> 