<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th>
                        <h3 th:inline="text" class="page-title">[[${table}]]'s metadata</h3>
                    </th>
                </tr>            
            </table>

            <div th:if="${ errorMessage != null }" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>  
            </div>

            <div th:if="${ successMessage != null }" class="form-group">
                <div class="alert alert-success" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>  
            </div>

            <label class="space-top">Primary key</label>

            <table id="table_clean" class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">Position</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pk : ${pk}">
                        <td th:text="${pk.position}">Position</td>
                        <td th:text="${pk.name}">Name</td>
                    </tr>
                </tbody>
            </table>

            <label>Columns</label>

            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">Position</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Decimal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="column, stat : ${column}">
                        <td th:text="${column.position}">Position</td>
                        <td th:text="${column.name}">Name</td>
                        <td th:text="${column.type}">Type</td>
                        <td th:text="${column.size}">Size</td>
                        <td th:text="${column.decimal}">Decimal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>