<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <div th:if="${ errorMessage != null }" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>  
            </div>

            <div th:if="${ successMessage != null }" class="form-group">
                <div class="alert alert-success" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>  
            </div>

            <!--AJAX Parent modal --> 
            <div id="modalHolder"></div>

            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width:18%">Name</th>
                        <th style="width:60%">Description</th>
                        <th style="width:10%">Driver</th>
                        <th class="no-sort"></th>
                        <th class="no-sort"></th>
                        <th class="no-sort"></th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="connection : ${connections}">
                        <td th:text="${connection.id}">#</td>
                        <td th:text="${connection.name}">Name</td>
                        <td th:text="${connection.description}">Name</td>
                        <td th:text="${connection.target}">Driver</td>
                        <td>
                            <a th:href="@{'/connection/test/' + ${connection.id}}" class="btn btn-generic btn-xs">
                                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Check
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/connection/' + ${connection.id} + '/catalog/schema'}" class="btn btn-generic btn-xs">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Schema
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/connection/edit/' + ${connection.id}}" class="btn btn-generic btn-xs">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                        </td>
                        <td>
                            <div class="form-group">
                                <a  th:if="${#authorization.expression('hasRole(''HERO'')')}"
                                    class="btn btn-xs btn-delete" data-toggle="modal" th:attr="data-target='#'+${connection.id}" href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                            </div>
                            <!-- INÍCIO MODAL DELETE -->
                            <div class="modal fade" th:id="${connection.id}" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modalParentLabel">Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span th:inline="text">Are you sure you want to delete [[${connection.name}]]?</span>
                                        </div>
                                        <div class="modal-footer"> 
                                            <a th:href="@{'/connection/delete/' + ${connection.id}}" class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm">
                                                Yes
                                            </a>
                                            <a class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm" data-dismiss="modal" aria-label="Close">
                                                No
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM MODAL DELETE -->
                        </td>
                    </tr>
                </tbody>
            </table>

            <div sec:authorize="isAuthenticated()">
                <hr/>                
                <tr>
                    <a href="#" title="Test" th:id="modal_test_connections">
                        <span class="glyphicon glyphicon-flash"></span> Check all connections
                    </a>
                </tr>            
            </div>

            <center>
                <button id="modal_wait" type="button" class="btn btn-default btn-sm" style="display:none;">
                    <img th:src="@{'/images/ajax-loader.gif'}"></img>
                </button>
            </center>
        </div>            
        <script th:inline="javascript">
            $(document).ready(function () {
                /**
                 * Show wait panel.
                 * @returns {undefined}
                 */
                $(document).ajaxStart(function () {
                    $("#modal_wait").css("display", "block");
                });

                /**
                 * Hide wait panel.
                 * @returns {undefined}
                 */
                $(document).ajaxComplete(function () {
                    $("#modal_wait").css("display", "none");
                });

                /**
                 * Show test connection modal. 
                 * @returns {undefined}
                 */
                $("#modal_test_connections").click(function () {
                    var url = /*[[@{/connection/test/}]]*/ "/connection/test/";

                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (result) {
                            $("#modalHolder").html(result);
                            $("#modalTestConnection").modal({backdrop: 'static', keyboard: false});
                        },
                        error: function (e) {
                            alert("Error testing connections: " + e);
                        }
                    });
                });
            });
        </script>
    </body>
</html>