<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <!--OPTION FRAGMENT BEGIN-->
            <div class="modal fade" id="modalTestConnection" tabindex="-1" role="dialog" aria-labelledby="modalTestConnectionLabel" th:fragment="connection">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalTestConnectionLabel">Connections</h4>
                        </div>
                        <div class="modal-body">
                            <table id="table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:10%">Status</th>
                                        <th style="width:90%">Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="status : ${connectionStatus}">    
                                        <td>
                                            <th:block th:switch="${status.status}">
                                                <span th:case="${T(br.com.dafiti.hanger.option.Status).SUCCESS}" class="label label-success" th:attr="alt=${ status.status }" th:title="${status.status}" th:text="${status.status}"></span>
                                                <span th:case="${T(br.com.dafiti.hanger.option.Status).FAILURE}" class="label label-danger" th:attr="alt=${ status.status }" th:title="${status.status}" th:text="${status.status}"></span>
                                            </th:block>
                                        </td>
                                        <td th:text="${status.connection.name}">Name</td>                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">                                
                            <button type="button" class="btn btn-generic btn-sm" data-dismiss="modal">
                                <span aria-hidden="true"></span> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--OPTION FRAGMENT END-->
        </div>
    </body>
</html>
