<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content space-top">
            <div th:if="${ errorMessage != null }" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>  
            </div>

            <div th:if="${ successMessage != null }" class="form-group">
                <div class="alert alert-success" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>  
            </div>

            <div th:if="${not #lists.isEmpty(approvals)}">
                <table id="table_paginated_clean_0" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:5%">Status</th>
                            <th style="width:10%">Date</th>  
                            <th style="width:10%">Approver</th>   
                            <th style="width:75%">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="approval, approvalStat : ${approvals}" th:unless="${approvalStat.index > 9}">    
                            <td>
                                <th:block th:switch="${approval.approved}">
                                    <span th:case="true" class="label label-success" th:title="APPROVED" th:text="APPROVED"></span>
                                    <span th:case="false" class="label label-danger" th:title="DISAPPROVED" th:text="DISAPPROVED"></span>
                                </th:block>
                            </td>
                            <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                            <td th:text="${approval.user.firstName + ' ' + approval.user.lastName}" ></td>
                            <td class="nowrap-pre" th:text="${approval.description}"></td>    
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div th:each="checkup, checkupStat : ${job.checkup}">
                    <div class="space-top" th:classappend="${#lists.size(job.checkup) == 1 ? 'col-md' : 'col-md-6' }">
                        <span class="label " 
                              th:classappend="${checkup.enabled ? (checkup.getLastStatus() ? 'label-success' : 'label-danger') : 'label-default'}" 
                              th:text="${checkup.enabled ?  checkup.name : checkup.name + ' [DISABLED]'}"></span>
                        <span class="label label-default" th:text="${checkup.prevalidation ? 'PRE_VALIDATION' : 'POST_VALIDATION'}"></span>
                        <span class="label label-default" th:text="${checkup.conditional}"></span>
                        <span class="label label-default" th:text="${checkup.action}"></span>

                        <a th:href="@{'/workbench/job/checkup/' + ${checkup.id}}" title="Open the query in workbench" target="_blank">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>

                        <hr/>

                        <div class="form-group">
                            <div class="markdown">
                                <span 
                                    th:title="${checkup.description != null and checkup.description != '' ? checkup.description : ''}" 
                                    th:text="${#strings.abbreviate( checkup.description != null and checkup.description != '' ? checkup.description : '', 100 )}"> </span>
                            </div>
                        </div>

                        <div> 
                            <ul class="nav nav-pills pull-right">                    
                                <li class="active">
                                    <a data-toggle="tab" th:href="'#chart_tab' + ${checkup.id}">
                                        <span class="glyphicon glyphicon-signal" title="Chart"></span>
                                    </a>  
                                </li>
                                <li>
                                    <a data-toggle="tab" th:href="'#table_tab' + ${checkup.id}">
                                        <span class="glyphicon glyphicon-th-list" title="Table"></span>
                                    </a>                                
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div th:id="'chart_tab' + ${checkup.id}" class="tab-pane fade active in">
                                <canvas th:id="'chart' + ${checkup.id}" height='80'></canvas>
                            </div>

                            <div th:id="'table_tab' + ${checkup.id}" class="tab-pane fade in">
                                <table th:id="'table_paginated_clean' + ${checkup.id}" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:5%" class="img-sort">Status</th> 
                                            <th style="width:10%">Date</th> 
                                            <th style="width:5%">Scope</th> 
                                            <th style="width:30%">SQL</th>
                                            <th style="width:5%">Result</th>
                                            <th style="width:10%" class="no-sort"></th>    
                                            <th style="width:5%">Threshold</th>     
                                            <th style="width:10%">Action</th> 
                                            <th class="no-sort"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr class="checkup-row" th:each="checkupLog, checkupLogStat : ${checkup.log}" th:unless="${checkupLogStat.index > 29}">
                                            <td>
                                                <th:block th:switch="${checkupLog.success}">
                                                    <span th:case="true" class="label label-success" th:title="SUCCESS" th:text="SUCCESS"></span>
                                                    <span th:case="false" class="label label-danger" th:title="FAILURE" th:text="FAILURE"></span>
                                                </th:block>
                                            </td>                               
                                            <td th:text="${#dates.format(checkupLog.date, 'yyyy-MM-dd HH:mm:ss')}"></td>        
                                            <td th:text="${checkupLog.scope}"></td>  
                                            <td>
                                                <span th:text="${#strings.length(checkupLog.query) > 65 ? #strings.substring(checkupLog.query,0,65) : checkupLog.query}"></span>                                
                                                <div class="btn-group" 
                                                     th:if="${#strings.length(checkupLog.query) > 65}">                                    
                                                    <button class="dropdown-toggle close" 
                                                            data-toggle="dropdown">...</button>
                                                    <ul class="dropdown-menu">                                                
                                                        <li>
                                                            <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.query}"></code>
                                                            </pre>
                                                        </li>  
                                                    </ul>
                                                </div>
                                                <a class="btn-copy" href="javascript:;" th:attr="data-clipboard-text=${checkupLog.query}">
                                                    <span class="glyphicon glyphicon-duplicate icon-copy" aria-hidden="true" title="copy"></span>
                                                </a>
                                            </td>  
                                            <td>
                                                <span th:text="${#strings.length(checkupLog.value) > 35 ? #strings.substring(checkupLog.value,0,35) : checkupLog.value}"></span>                                
                                                <div class="btn-group" th:if="${#strings.length(checkupLog.value) > 35}">                                    
                                                    <button class="dropdown-toggle close" 
                                                            data-toggle="dropdown">...</button>
                                                    <ul class="dropdown-menu">                                                
                                                        <li>
                                                            <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.value}"></code>
                                                            </pre>
                                                        </li>  
                                                    </ul>
                                                </div>
                                            </td> 
                                            <td th:text="${checkupLog.conditional}"></td>  
                                            <td th:text="${checkupLog.threshold}"></td>  
                                            <td th:text="${checkupLog.success ? '' : checkupLog.action}"></td>   
                                            <td>                                   
                                                <div th:if="${not #lists.isEmpty(checkupLog.commandLog)}">
                                                    <table class="table borderless">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:10%" class="img-sort">Status</th> 
                                                                <th class="no-sort">Command</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="commandLog, commandLogStat : ${checkupLog.commandLog}"> 
                                                                <td>
                                                                    <th:block th:switch="${commandLog.success}">
                                                                        <span th:case="true" class="label label-success" th:title="SUCCESS" th:text="SUCCESS"></span>
                                                                        <span th:case="false" class="label label-danger" th:title="FAILURE" th:text="FAILURE"></span>
                                                                    </th:block>
                                                                </td>
                                                                <td>
                                                                    <a th:inline="text" th:href="@{'/checkup/log/' + ${commandLog.id}}">
                                                                        [[${ (commandLogStat.index + 1) + '° ' + commandLog.commandType}]]
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>                                
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr/>  

            <a th:href="@{'/job/view/' + ${job.id}}" th:title="${job.name}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-file"></span> Job
            </a>

            <a th:href="@{'/flow/job/' + ${job.id}}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-random"></span> Flow
            </a>

            <a th:href="@{'/propagation/job/' + ${job.id}}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-transfer"></span> Propagation
            </a>
        </div>

        <script th:inline="javascript">
            //START THYMELEAF MACRO
            /*<![CDATA[*/

            //START CHECKUP LOOP
            /*[# th:each="checkup, checkupStat : ${job.checkup}"]*/

            var chart = 'chart' + /*[[${checkup.id}]]*/;
            var context = document.getElementById(chart).getContext('2d');

            var labels = [];
            var results = [];
            var thresholds = [];
            var statuses = [];

            /*[# th:if="${#lists.isEmpty(checkup.log)}"]*/
            labels.push("");
            results.push();
            thresholds.push();
            statuses.push(true);
            /*[/]*/

            /*[# th:each="checkupLog, checkupLogStat : ${checkup.log}" th:unless="${checkupLogStat.index > 15}"]*/
            labels.push(/*[[${#dates.format(checkupLog.date, 'yyyy-MM-dd HH:mm:ss')}]]*/);
            results.push(/*[[${checkupLog.value}]]*/);
            thresholds.push(/*[[${checkupLog.threshold}]]*/);
            statuses.push(/*[[${checkupLog.success}]]*/);
            /*[/]*/

            var pointBackgroundColors = [];

            var chart = new Chart(context, {
                type: 'line',
                data: {
                    labels: labels.reverse(),
                    datasets: [{
                            label: 'Threshold',
                            data: thresholds.reverse(),
                            fill: false,
                            backgroundColor: '#ececec',
                            borderColor: '#6C6C6C',
                            borderDash: [5, 5],
                            borderWidth: 1,
                            pointRadius: 2,
                            datalabels: {
                                display: false
                            }
                        },
                        {
                            label: 'Result',
                            data: results.reverse(),
                            fill: true,
                            backgroundColor: '#f3fcfd',
                            borderColor: '#25CED1',
                            datalabels: {
                                align: 'end',
                                anchor: 'end'
                            },
                            pointBackgroundColor: pointBackgroundColors,
                            pointBorderColor: pointBackgroundColors,
                            pointRadius: 3,
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                                gridLines: {
                                    display: false
                                }
                            }],
                        yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                    },
                    plugins: {
                        datalabels: {
                            font: {
                                weight: 'bold'
                            },
                            formatter: function (value, context) {
                                return Math.round(value * 100) / 100;
                            }
                        }
                    },
                    legend: {
                        display: false
                    },
                    layout: {
                        padding: {
                            left: 10,
                            right: 20,
                            top: 30,
                            bottom: 20
                        }
                    }
                }
            });

            //Defines the status color. 
            statuses.reverse();

            for (i = 0; i < statuses.length; i++) {
                if (statuses[i]) {
                    pointBackgroundColors.push("#20b2aa");
                } else {
                    pointBackgroundColors.push("#dd424a");
                }
            }

            //Updates the graph. 
            chart.update();

            //END CHECKUP LOOP
            /*[/]*/

            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });

            $(function () {
                new ClipboardJS('.btn-copy');
            });

            //END THYMELEAF MACRO
            /*]]>*/
        </script>
    </body>
</html>