<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th th:inline="text">
                        <h3 class="page-title">[[${job.name}]]</h3>
                    </th>

                    <th class="btn-action">
                        <a th:href="@{'/job/view/' + ${job.id}}" title="View">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </th>

                    <th class="btn-action">
                        <a th:href="@{'/flow/job/' + ${job.id}}" title="Flow">
                            <span class="glyphicon glyphicon-random"></span>
                        </a>
                    </th>

                    <th class="btn-action">
                        <a th:href="@{'/propagation/job/' + ${job.id}}" title="Propagation">
                            <span class="glyphicon glyphicon-transfer"></span>
                        </a>
                    </th>

                    <div th:if="${approval}">
                        <th class="btn-action">
                            <a th:href="@{'/approval/approval/' + ${job.id}}" title="Approval">
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </th>                        
                    </div>
                </tr>
            </table>

            <div th:if="${ errorMessage != null }" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>  
            </div>

            <div th:if="${ successMessage != null }" class="form-group">
                <div class="alert alert-success" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>  
            </div>

            <div th:if="${not #lists.isEmpty(approvals)}">
                <fieldset>
                    <legend class="space-top">Approval</legend>

                    <table id="table_paginated_clean_0" class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width:5%">Status</th>
                                <th style="width:10%">Date</th>  
                                <th style="width:10%">Approver</th>   
                                <th style="width:75%">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="approval, approvalStat : ${approvals}" th:unless="${approvalStat.index > 9}">    
                                <td>
                                    <th:block th:switch="${approval.approved}">
                                        <span th:case="true" class="label label-success" th:title="APPROVED" th:text="APPROVED"></span>
                                        <span th:case="false" class="label label-danger" th:title="DISAPPROVED" th:text="DISAPPROVED"></span>
                                    </th:block>
                                </td>
                                <td th:text="${#dates.format(approval.createdAt, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                                <td th:text="${approval.user.firstName + ' ' + approval.user.lastName}" ></td>
                                <td class="nowrap-pre" th:text="${approval.description}"></td>                            
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div th:if="${not #lists.isEmpty(job.checkup) and not #lists.isEmpty(checkup.log) }" th:each="checkup, checkupStat : ${job.checkup}">  
                <div th:if="${checkup.enabled}">  
                    <fieldset>
                        <legend class="space-top" th:inline="text">
                            [[${ checkup.name + '  |  ' + ( checkup.prevalidation ? 'PRE_VALIDATION' : 'POST_VALIDATION' ) + '  |  ' + checkup.conditional+ ' | ' + checkup.action }]]
                            <a th:href="@{'/workbench/job/checkup/' + ${checkup.id}}" title="Open the query in workbench" target="_blank">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        </legend>
                    </fieldset>

                    <div th:if="${checkup.description != null and checkup.description != ''}">
                        <div class="form-group">
                            <div 
                                class="italic" 
                                th:utext="${checkup.getHTMLDescription()}"></div>
                        </div>
                    </div>

                    <div> 
                        <ul class="nav nav-pills">                    
                            <li class="active">
                                <a data-toggle="tab" th:href="'#chart_tab' + ${checkup.id}">
                                    <span class="glyphicon glyphicon-signal" title="Chart"></span>
                                </a>  
                            </li>
                            <li>
                                <a data-toggle="tab" th:href="'#table_tab' + ${checkup.id}">
                                    <span class="glyphicon glyphicon-th-list" title="Table"></span>
                                </a>                                
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div th:id="'chart_tab' + ${checkup.id}" class="tab-pane fade active in">
                            <canvas th:id="'chart' + ${checkup.id}" height='80'></canvas>
                        </div>

                        <div th:id="'table_tab' + ${checkup.id}" class="tab-pane fade in">
                            <table th:id="'table_paginated_clean' + ${checkup.id}" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%" class="img-sort">Status</th> 
                                        <th style="width:10%">Date</th> 
                                        <th style="width:5%">Scope</th> 
                                        <th style="width:30%">SQL</th>
                                        <th style="width:5%">Result</th>
                                        <th style="width:10%" class="no-sort"></th>    
                                        <th style="width:5%">Threshold</th>     
                                        <th style="width:10%">Action</th> 
                                        <th class="no-sort"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="checkup-row" th:each="checkupLog, checkupLogStat : ${checkup.log}" th:unless="${checkupLogStat.index > 49}">
                                        <td>
                                            <th:block th:switch="${checkupLog.success}">
                                                <span th:case="true" class="label label-success" th:title="SUCCESS" th:text="SUCCESS"></span>
                                                <span th:case="false" class="label label-danger" th:title="FAILURE" th:text="FAILURE"></span>
                                            </th:block>
                                        </td>                               
                                        <td th:text="${#dates.format(checkupLog.date, 'yyyy-MM-dd HH:mm:ss')}"></td>        
                                        <td th:text="${checkupLog.scope}"></td>  
                                        <td>
                                            <span th:text="${#strings.length(checkupLog.query) > 65 ? #strings.substring(checkupLog.query,0,65) : checkupLog.query}"></span>                                
                                            <div class="btn-group" 
                                                 th:if="${#strings.length(checkupLog.query) > 65}">                                    
                                                <button class="dropdown-toggle close" 
                                                        data-toggle="dropdown">...</button>
                                                <ul class="dropdown-menu">                                                
                                                    <li>
                                                        <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.query}"></code>
                                                        </pre>
                                                    </li>  
                                                </ul>
                                            </div>
                                            <a class="btn-copy" href="javascript:;" th:attr="data-clipboard-text=${checkupLog.query}">
                                                <span class="glyphicon glyphicon-duplicate icon-copy" aria-hidden="true" title="copy"></span>
                                            </a>
                                        </td>  
                                        <td>
                                            <span th:text="${#strings.length(checkupLog.value) > 35 ? #strings.substring(checkupLog.value,0,35) : checkupLog.value}"></span>                                
                                            <div class="btn-group" th:if="${#strings.length(checkupLog.value) > 35}">                                    
                                                <button class="dropdown-toggle close" 
                                                        data-toggle="dropdown">...</button>
                                                <ul class="dropdown-menu">                                                
                                                    <li>
                                                        <pre class="line-numbers">
                                                    <code class="language-sql" th:text="${checkupLog.value}"></code>
                                                        </pre>
                                                    </li>  
                                                </ul>
                                            </div>
                                        </td> 
                                        <td th:text="${checkupLog.conditional}"></td>  
                                        <td th:text="${checkupLog.threshold}"></td>  
                                        <td th:text="${checkupLog.success ? '' : checkupLog.action}"></td>   
                                        <td>                                   
                                            <div th:if="${not #lists.isEmpty(checkupLog.commandLog)}">
                                                <table class="table borderless">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:10%" class="img-sort">Status</th> 
                                                            <th class="no-sort">Command</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="commandLog, commandLogStat : ${checkupLog.commandLog}"> 
                                                            <td>
                                                                <th:block th:switch="${commandLog.success}">
                                                                    <span th:case="true" class="label label-success" th:title="SUCCESS" th:text="SUCCESS"></span>
                                                                    <span th:case="false" class="label label-danger" th:title="FAILURE" th:text="FAILURE"></span>
                                                                </th:block>
                                                            </td>
                                                            <td>
                                                                <a th:inline="text" th:href="@{'/checkup/log/' + ${commandLog.id}}">
                                                                    [[${ (commandLogStat.index + 1) + '° ' + commandLog.commandType}]]
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/

            /*[# th:each="checkup, checkupStat : ${job.checkup}"]*/

            var chart = 'chart' + /*[[${checkup.id}]]*/;
            var context = document.getElementById(chart).getContext('2d');

            var labels = [];
            var results = [];
            var thresholds = [];
            var statuses = [];

            /*[# th:each="checkupLog, checkupLogStat : ${checkup.log}"]*/

            labels.push(/*[[${#dates.format(checkupLog.date, 'yyyy-MM-dd HH:mm:ss')}]]*/);
            results.push(/*[[${checkupLog.value}]]*/);
            thresholds.push(/*[[${checkupLog.threshold}]]*/);
            statuses.push(/*[[${checkupLog.success}]]*/);

            /*[/]*/

            var pointBackgroundColors = [];

            var chart = new Chart(context, {
                type: 'line',
                data: {
                    labels: labels.reverse(),
                    datasets: [{
                            label: 'Result',
                            data: results.reverse(),
                            fill: false,
                            backgroundColor: '#337ab7',
                            borderColor: '#337ab7',
                            datalabels: {
                                align: 'end',
                                anchor: 'end'
                            },
                            pointBackgroundColor: pointBackgroundColors,
                            pointRadius: 5,
                            borderWidth: 1
                        },
                        {
                            label: 'Threshold',
                            data: thresholds.reverse(),
                            fill: false,
                            backgroundColor: '#ececec',
                            borderColor: '#6C6C6C',
                            borderDash: [5, 5],
                            borderWidth: 2,
                            datalabels: {
                                display: false
                            }
                        }]
                },
                options: {
                    scales: {
                        yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                }
                            }]
                    },
                    plugins: {
                        datalabels: {
                            font: {
                                weight: 'bold'
                            },
                            formatter: function (value, context) {
                                return Math.round(value * 100) / 100;
                            }
                        }
                    }
                }
            });

            //Defines the status color. 
            statuses.reverse();

            for (i = 0; i < statuses.length; i++) {
                if (statuses[i]) {
                    pointBackgroundColors.push("#20b2aa");
                } else {
                    pointBackgroundColors.push("#dd424a");
                }
            }

            //Updates the graph. 
            chart.update();

            /*[/]*/

            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });

            $(function () {
                new ClipboardJS('.btn-copy');
            });

            /*]]>*/
        </script>
    </body>
</html>