<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">

            <!--Command-->   
            <div class="form-group space-top">
                <fieldset>
                    <legend>Command</legend>
                    <div class="col-sm-10">
                        <pre class="line-numbers">
                            <code th:class="${log.commandType} == 'SQL' ? language-sql : language-bash" th:text="${log.command}"></code>
                        </pre>  
                    </div>
                </fieldset>
            </div>

            <!--Result-->   
            <div class="form-group">
                <fieldset>
                    <legend>Result</legend>
                    <div class="col-sm-10">
                        <pre class="line-numbers">
                            <code class="language-none" th:text="${log.log}"></code>
                        </pre>
                    </div>
                </fieldset>
            </div>

            <hr/>

            <div class="form-group">  
                <a href="javascript:history.back()" class="btn btn-link btn-sm">
                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Go back
                </a>
            </div>
        </div>
        <script>
            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });
        </script>
    </body>
</html>