<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <h3 class="page-title">Password</h3>
            <div>
                <form class="form-horizontal" method="post" th:action="@{/user/alter}" th:object="${user}">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" required="true" class="form-control" />
                    </div>

                    <!--New password-->   
                    <label>New password</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" th:field="*{password}" placeholder="Password" required="true" class="form-control" />
                        </div>
                    </div>

                    <!--Confirm password-->   
                    <label>Confirm your password</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" th:field="*{confirmPassword}" required="true" placeholder="Password" class="form-control" />
                            <span th:if="${#fields.hasErrors('confirmPassword')}" class="help-block alertErr" th:errors="*{confirmPassword}" style="color:red;"></span>
                        </div>
                    </div>

                    <!--Buttons--> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-generic btn-sm">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>  
</html>
