<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container">
            <center>                
                <img th:src="@{/images/404.png}" style="width:50%;"></img>
                <h4>What are you looking for?</h4>
                <label>You are trying to access a page that I dont know where it is</label>
            </center>
        </div>
    </body>
</html>