*{
    border-radius: 0px !important;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
    background-color: #F4F5F7;
    padding: 10px;
}

.italic > p{
    margin: 0 0 0px;
}

div.dataTables_filter input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #D8D8D8;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 70px;
    max-width: 130px;
}

.table{
    border-color: #eee;
}

body{
    font-size: 12px;
    font-weight: normal;
}

label {
    color: #373e46;
    font-weight: bold;
    font-size: 13px;
}

.label-edit-information{
    color: #999999;
    font-size: 12px;
    font-weight: normal;
}

.label-success {
    color: #006644;
    background-color: #E3FCEF;
    font-size: 11px;
}

.label-warning {
    background-color: #fff8eb;
    color: #b87700;
    font-size: 11px;
}

.label-danger {
    background-color: #fbe8e9;
    color: #dd424a;
    font-size: 11px;
}

.label-neutral, .label-default{
    background-color: #ececec;
    color: #6c6c6c;
    font-size: 11px;
}

.label-primary{
    background-color: #fffdeb;
    color: #c4b000;  
    font-size: 11px;
}

.label-partial{
    color: #006644;
    background: #E3FCEF;  
    font-size: 11px;
}

.label-info {
    background-color: #ebfcff;
    color: #00869d;
    font-size: 11px;
}

legend{
    color: #4682b4;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.swinlane{
    font-size: 15px;
}

h3,h4,h5,h6 {
    color: #373e46;
}

h3{
    font-size: 20px;
}

pre{
    border: 1px dotted #D8D8D8;
}

pre[class*="language-"] {
    padding-left: 0px;
    margin: 0px;
    background-color: transparent !important;
    min-height: 75px;
}

pre[class*="language-free"] {
    padding-left: 20px;
    border: none;
}

code[class*="language-free"] {
    color: #777;
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    font-family: "Helvetica";
}

.navbar-default {
    background: #000000;
}

.navbar-default .navbar-brand {
    color: #373e46;
}

.navbar-default .navbar-nav>li>a {
    color: #373e46;
}

.btn-space {
    margin-left: 8px !important;
}

.main-content {
    margin-left: 220px;
    margin-right: 20px;
}

.progress {
    margin-bottom: 1px;
}

.progress-bar {
    font-size: 10px;
}

.progress-bar-building{
    background-color: #f6f558;
    color: #373e46;   
}

.progress-bar-waiting {
    background-color: #e5e8ec;
    color: gray;
}

.progress-bar-success {
    background-color: #20b2aa;
}

.progress-bar-warning {
    background-color: #ffa500;
}

.progress-bar-danger {
    background-color: #dd424a;
}

.progress-bar-neutral {
    background-color: #e5e8ec;
}


.progress-bar-effectiveness {
    background-color: #3db9d3;
}

.label-hanger {
    background-color: #FFF;
    color: #373e46;
}

.gantt_task_line,
.gantt_task_inline_color, 
.gantt_task_progress {
    border: none !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.footer-button {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
}

.space-left {
    padding-left: 20px;
}

.space-right {
    padding-right: 30px;
}

.space-top {
    padding-top: 10px;
}

.space {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-home{
    margin-right: 20px;
}

.alert {
    padding: 8px;
}

.link_bold{
    font-weight: bold;
}

#zoom_in, #zoom_out, #question{
    background: #FFFFFF;
    color: #373e46;
}

#zoom_control{
    width:40px;
    height:60px;
    position:absolute;
    z-index:100;
    top:40%;
    right: 0%;
}

#wrapper {
    padding-left: 100px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 150px;
    width: 200px;
    background: #FFF;
    border-right: 1px solid #eee;
    position: fixed;
    height: 100%;
    transition: all .4s ease 0s;
    z-index: 1000;
}

.sidebar-nav {
    display: inline-block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a,
.sidebar-nav li a {
    color: #373e46;
    display: block;
    float: left;
    text-decoration: none;
    width: 199px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar-nav li {
    float: left;
    display: inline-block;
    width: 100%;    
}

.sidebar-nav li:hover {
    background-color: black;
    background: #F4F5F7;
}


.sidebar_name {
    padding-top: 20px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 35px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #373e46;
    display: inline-block;
    text-decoration: none;
}

.sidebar-nav li a#menu-toggle img{
    height: 45px;
    max-width: 55px;
    margin: 8px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:focus {
    color: #007bff;
    text-decoration: none;
}

.sidebar-nav li.active {
    color:#337ab7;
    background:  #F4F5F7;
    text-decoration: none;
}

.sidebar-nav li.active a {
    color:#337ab7;
    background:  #F4F5F7;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 75px;
    line-height: 75px;
    font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}


#sidebar li:hover .sub_icon_create{
    display: inline;
}


#sidebar li .menu_link_option{
    width: 66%;
}

#sidebar li .menu_dropdown{
    width: 15px;
    display: inline-block;
    float: left;
}

.sub_icon {
    float: left;
    padding-right: 30px;
    padding-top: 10px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

.dispDef {
    display: none;
}

.disp {
    display: block;
}

.btn-action {
    text-align: center;
    padding-left: 15px;
    padding-top: 15px;
}

.btn-action-icon {
    font-size: 12px;
}

.Treant {
    top: 10%;
    bottom: 0;
    left: 10%;
    right: 5%;
    width: 85%;
    height: 90%;
    margin: auto;
    position: absolute;
}

.Treant .collapse-switch { width: 10px; height: 100%; border: none; left: 1px; background: #F4F5F7; }
.Treant .node.collapsed {  border: dotted; border-color: #999999; border-width: 1px }
.Treant .node.collapsed .collapse-switch { background: #F4F5F7;}

.status {
    width: 25px;
    height: 25px;
}

.hanger-img-sm {
    width: 15.5px;
    height: 15.5px;
}

.hanger-img-md {
    width: 35px;
    height: 35px;
}

.hanger-image {
    width: 18px;
    height: 18px;
}

.node>img {
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #FFF;
}

.node>a {
    font-size: 12px;
}

.node>p {
    padding-left: 15px;
    margin: 0px;
    font-size: 11px;
}

.node-name {
    padding-left: 15px;
}

.node-phase {
    padding-left: 5px;
}

.node-time {
    font-weight: bold;
}

.node-checkup {
    padding-left: 5px;
}

.node-link {
    padding-left: 5px;
    font-size: 15.5px !important;
    font-weight: bold;
}

.node-flow{
    padding-left: 5px;
    font-size: 15.5px !important;
    font-weight: bold;
}

.node-propagation {
    padding-left: 5px;
    font-size: 15.5px !important;
    font-weight: bold;
}

.flow-subject {
    padding-top: 5px;
    padding-bottom: 5px;
}

.flow-subject-link{
    padding-left: 5px;
}

.help-block {
    color: #FF0000 !important;
}

.alertErr {
    color: red !important;
}

.low{
    height: 19px;
}

.btn{
    background-color: transparent;
}

.form-control{
    border: 1px solid #D8D8D8;
    box-shadow: inset 0px 0px 0px 0px;
    background-color: transparent;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    color: #999999;
    border: 1px dotted #D8D8D8;
    background : none;
    opacity: 1;
}

.borderless td, .borderless th {
    border: none !important;
    padding: 2.5px !important;
}

img.media-object{
    width: 30px;
    height: 30px;
}

.inner-addon {
    position: relative; 
}

.inner-addon .glyphicon {
    position: absolute;
    pointer-events: none;
}

.left-addon .glyphicon  { 
    left:  0px;
}

.right-addon .glyphicon { 
    right: 0px;
}

.left-addon input  { 
    padding-left:  40px; 
}

.right-addon input { 
    padding-right: 30px; 
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.heatmap {
    top: 10%;
    bottom: 0;
    left: 10%;
    right: 5%;
    width: 85%;
    height: 90%;
    margin: auto;
    position: absolute;
    overhanger-y: scroll;
}

.table-filter{
    padding-top: 15px;
}

.table-filter input  {
    font-size: 10px !important;
}

.table-filter button  {
    font-size: 10px !important;
}

.table>thead>tr>th{
    border: none;
    border-top: 1px solid #ddd !important;
}

.table th{
    color: #777777;
    border: none;
    background-color: #f6faff;
}

.btn-filter{
    padding-top: 22px;
}

.checkup-gray-background{
    background-color: #F9F9F9;
    padding: 15px;
    margin-bottom: 15px;
}

.compact-sort{
    padding: 8px !important; 
    padding-bottom: 25px !important; 
    background-image:none !important;
}

.title{
    font-size: 22px;
    height: 65px;
    line-height: 65px;
}

.dropdown-menu-left {
    left: 200px;
    top: 200px;
}

.sidebar-nav li .dropdown .dropdown-menu li a {
    background-color: white;
    border-color: white;
}

.sidebar-nav li .dropdown .dropdown-menu li a:hover {
    background-color: #f4f5f7;
    border-color: #f4f5f7;
}

.hanger-no-border {
    margin: 0px;
    padding: 0px;
}

.hanger-font-sm{
    font-size: 12px;
}

.dataTables_paginate {
    padding-top: 15px;
    /*position: absolute;*/
}

.dataTables_filter>label{
    color: #777;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
    color: #337ab7;
    background-color:#F4F5F7;
    border-color: #373e46;
}

.column {
    display:inline-block;
}

.slider-horizontal{
    width: 100% !important;
}

.logged {
    border-left: 2.5px solid#337ab7;
}

.nav-tabs>li.active>a{
    color:#337ab7;
}

.nav-tabs>li.active>a:hover{
    color:#337ab7;
}

.radio-inline,
.checkbox-inline+.checkbox-inline, 
.radio-inline+.radio-inline{
    margin-left: 0px;  
    padding-left: 5px
}

input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: 0px;
}

input[type=radio] + img {
    cursor: pointer;
    margin-left: 0px;
}

input[type=radio]:checked + img {
    outline: 2.5px solid#337ab7;
    margin-left: 0px;
}

.search-input{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important; 
}

.search-button{
    border-top-right-radius:  25px !important;
    border-bottom-right-radius: 25px !important;
}

.pager-item{
    color: #337ab7;
    font-size: 11px;
    margin-bottom: 5px;
}   

.thin-line{
    margin-top: 0px;
    margin-bottom: 10px;
}

#table_paginated_wrapper .col-sm-12, #table_wrapper .col-sm-12, #table_wrapper .col-sm-6, #table_paginated_wrapper .col-sm-6 {
    padding: 0 !important;
}

[id^="table_clean"][id$="wrapper"] .col-sm-12 {
    padding: 0 !important;
}

h3.page-title {
    color:#373e46;
    font-size: 15px;
    font-weight: bold;
}

.btn-delete {
    color: #337ab7;
    border: 1px solid #D8D8D8;
    background-color: transparent;
}

.btn-delete:hover {
    color: #fff;
    border: 1px solid #D8D8D8;
    background-color: #337ab7;
}

.btn-generic {
    color: #337ab7;
    border: 1px solid #D8D8D8;
    background-color: transparent;
}

.btn-generic:hover {
    color: #fff;
    border: 1px solid #D8D8D8;
    background-color: #337ab7;
}

.btn-notice {
    color: #d65549;
    border: 1px solid #D8D8D8;    
    background-color: transparent;
}

.btn-notice:hover {
    color: #ffffff;
    border: 1px solid #D8D8D8;
    background-color: #d65549;
}

.table-user tbody td {
    vertical-align: middle !important;
}

.wrapper-bottom {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 199px;
    background-color: #fff;
}

.text-login {
    float: right;
    padding-right: 30px;
}

.profile-icon:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:20px;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    vertical-align:middle;
    color:white;
    font-weight:bold;
    margin:0 3px;
}

.profile-icon-sm.profile-icon:before {
    font-size:12.5px !important;
}

.profile-icon-indoor-sm.profile-icon:before {
    font-size:10px !important;
}

p.profile-icon-indoor-sm{
    margin: 0px !important;
}

.profile-icon-color-0:before{
    background:#cd5c5c;
}

.profile-icon-color-1:before{
    background:#2e8b57;  
}

.profile-icon-color-2:before{
    background:#4682b4;
}

.profile-icon-color-3:before{
    background:#f0e68c;
}

.profile-icon-color-4:before{
    background:#7559AF;
}

.modal-title{
    color:#373e46;
}

.modal-header{
    background-color: #F4F5F7;
}

.no-border {
    border: none;
}

.user-online{
    color: #337ab7;
    font-style: italic;
    font-weight: bold
}

input[type='file'] {
    display: none
}

.nowrap-pre{
    white-space: pre-line;
}

.deselect .bs-select-all{
    display:none
}

.select .bs-deselect-all{
    display:none
}

.row-gantt-parent {
    font-weight: bold !important;
    background-color: #F8F9F9 !important;
}

.badge {
    background-color: #D8D8D8;
}

.badge-warning{
    background-color: #ffa500;
}

.table-workbench-result {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;    
}

.panel-default>.panel-heading{
    background-color: #f6faff;
}

.panel-heading-height {
    height: 35px;
}

.panel-heading-add-checkup {
    color:#797979
}

.toggle.btn-sm {
    min-width: 80px !important;
}

.panel-body {
    overflow-y: auto;
}

.div-jstree {
    position: relative; 
    overflow-y: hidden;
    overflow-x: auto;
    width: auto; 
    height: auto;
}

.form-control-search {
    border: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: inset 0px 0px 0px 0px;
    background-color: transparent;
    margin-bottom: 5px;
}

.form-control-search::placeholder {
    color: #929292;
}

.breadcrumb-connection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-copy {
    margin-left: 6px;
    color: #7f8c8d;
}

.icon-copy:hover {
    color: #95a5a6;
}

.btn-copy {
    display: none;
}

.query-row:hover .btn-copy { 
    display: inline;
}

.checkup-row:hover .btn-copy {
    display: inline;
}

.link-version:link, 
.link-version:active, 
.link-version:visited, 
.link-version:hover {
    color: #898989;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
    color: #337ab7;
    background-color: #F4F5F7;
}

.nav>li>a {
    padding: 10px 10px;
    color: #373e46;
}

.nav>li>a:hover{    
    color: #007BFF;
    background-color: #F4F5F7
}

.hanger-version {
    margin-top: 10px;
    text-align: center;
}

.context-menu-option,
.context-menu-disabled,
.context-menu-submenu {
    font-size: inherit !important;
}

.span-field {
    font-weight: normal;
}

/* Hide the duration parents in the gantt */
.row-gantt-parent > .gantt_last_cell > .gantt_tree_content {
    display: none;
}

.CodeMirror {
    overflow: hidden;
    resize: vertical;
    width: 100%;
    border: 1px solid #F4F5F7;
    background-color: #FFF !important;
    border: 1px solid #eee;
}

.p-0 {
    padding: 0px !important;
}

.p-1 {
    padding: 1px !important;
}


.mb-2 {
    margin-bottom: 5px !important;
}

.hr-workbench-collapse {
    margin: 0 0 10px 0;
}

.col-div-query {
    border-left: 1px solid #eee;
    padding-left: 30px;
}    

#workbench_bottom {
    height: 350px;
}

.CodeMirror-gutters {
    border-right: 1px solid #eee !important;
    background-color: #fff !important;
    color: #337ab7;
}

.CodeMirror-linenumber {
    color: #337ab7 !important;
}

.wb-alert {
    margin-bottom: 0px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;    
    border: none;
    background-color: #F4F5F7;
    color: #373e46;
}

.date-range {
    cursor:pointer !important;
}

div.dataTables_wrapper > div > * {
    padding-left: 0px;
    padding-right: 0px;
}


.jstree-default,
.jstree-anchor {
    color:  #337ab7; 
}

.back_top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #000000;
    background-color: #F4F5F7;
    font-size: 12px;
    padding: 1em;
    display: none;
}

label.radio-generic.active,
label.radio-generic:hover
{
    color: white !important;
    border: 1px solid #D8D8D8;
    background-color: #337ab7;
}

.alert-light{
    color: #818182;
    background-color: #f6faff;
    border-color: #eee;
}
