<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">        
            <div>    
                <form class="form-horizontal" th:object="${job}" th:action="@{/job/save}" method="post" id="form-job">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <!--Job ID-->
                            <input type="hidden" th:field="*{id}"/>
                            <!--Job Status-->
                            <input type="hidden" th:field="*{status}"/>
                            <!--Job Slack channels-->
                            <input type="hidden" th:field="*{channel}"/>
                            <!--Job approval-->
                            <input type="hidden" th:field="*{approval}"/>
                        </div>
                    </div>

                    <div th:if="${ errorMessage != null }" class="form-group">
                        <!--Validation-->
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                <span th:text="${errorMessage}"></span>
                            </div>
                        </div> 
                    </div>

                    <!-- Job select server-->
                    <div th:if="${ job.server == null }">
                        <th:block th:include="job/fragmentSelectServer::selectServer"></th:block>
                    </div>

                    <!-- Job edit-->
                    <div th:if="${ job.server != null }">
                        <th:block th:include="job/fragmentEditJob::editJob"></th:block>
                    </div>

                    <!--AJAX Parent modal --> 
                    <div id="modalHolder"></div>                    
                </form>
            </div>

            <!--Scroll position-->
            <script th:inline="javascript">
                $(document).ready(function () {
                    //Initial view to add job.
                    loadJobDisplay("import");

                    // Show cron description on startup.
                    displayCronDescription($('#cron').val());

                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "timeOut": "2500",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };

                    //Displays the fields from the selected action.
                    $("input[name=action]").on("change", function () {
                        loadJobDisplay($(this).val());
                    });

                    //Identify the server for the selected action.
                    $(".select-server").on("change", function () {
                        loadJobList($(this)[0].id);
                    });

                    //Action migrate, copy the name of the selected job.
                    $("#migrateSourceJob").on("change", function () {
                        $('#migrateJobName').val($(this).val());
                    });

                    /**
                     * Load server jobs. 
                     * @param {type} selectServer
                     * @returns {undefined}
                     */
                    function loadJobList(selectServer) {
                        var url = /*[[@{/job/list/}]]*/ "/job/list/";
                        var server = $("#" + selectServer).val();
                        var select = $("#" + selectServer.replace("Server", "Job"));

                        $.ajax({
                            type: "GET",
                            url: url + server,
                            timeout: 15000,
                            data: {
                                incremental: select.hasClass("incremental")
                            },
                            success: function (jobs) {
                                for (var index = 0; index < jobs.length; index++) {
                                    select.append(new Option(jobs[index], jobs[index]));
                                }

                                select.selectpicker('refresh');

                                //Action migrate, copy the name of the selected job.
                                if (select[0].id === "migrateSourceJob") {
                                    $('#migrateJobName').val(select.val());
                                }
                            },
                            error: function (xhr) {
                                select.empty();
                                select.selectpicker('refresh');

                                toastr.error("Error trying to get list of jobs " + xhr.responseText);
                            },
                            beforeSend: function () {
                                select.selectpicker('refresh');
                                select.empty();
                            }
                        });
                    }

                    /**
                     * Load job display by the selected action.
                     * @param {type} action
                     */
                    function loadJobDisplay(action) {
                        switch (action) {
                            case "import":
                                //Display only the import div.
                                $(".div-create").hide("fast");
                                $(".div-migrate").hide("fast");
                                $(".div-import").show("fast");

                                //Disable the required fields of other actions.
                                $(".select-server").removeAttr("required");
                                $(".select-job").removeAttr("required");
                                $(".job-name").removeAttr("required");

                                //Import fields as required.
                                $("#importServer").attr("required", "true");
                                $("#importJob").attr("required", "true");

                                break;
                            case "create":
                                //Display only the create div.
                                $(".div-import").hide("fast");
                                $(".div-migrate").hide("fast");
                                $(".div-create").show("fast");

                                //Disable the required fields of other actions.
                                $(".select-server").removeAttr("required");
                                $(".select-job").removeAttr("required");
                                $(".job-name").removeAttr("required");

                                //Create fields as required.
                                $("#createServer").attr("required", "true");
                                $("#createJob").attr("required", "true");
                                $("#createJobName").attr("required", "true");

                                break;
                            default:
                                //Display only the migrate div.
                                $(".div-import").hide("fast");
                                $(".div-create").hide("fast");
                                $(".div-migrate").show("fast");

                                //Disable the required fields of other actions.
                                $(".select-server").removeAttr("required");
                                $(".select-job").removeAttr("required");
                                $(".job-name").removeAttr("required");

                                //Migrate fields as required.
                                $("#migrateSourceServer").attr("required", "true");
                                $("#migrateSourceJob").attr("required", "true");
                                $("#migrateTargetServer").attr("required", "true");
                                $("#migrateTargetJob").attr("required", "true");
                                $("#migrateJobName").attr("required", "true");
                        }
                    }

                    /**
                     * Show wait panel.
                     * @returns {undefined}
                     */
                    $(document).ajaxStart(function () {
                        $("#modal_wait").css("display", "block");
                        $("[id^=modal_add_parent_]").prop("disabled", true);
                        $("[id^=modal_add_shell_script_template_]").prop("disabled", true);
                    });

                    /**
                     * Hide wait panel.
                     * @returns {undefined}
                     */
                    $(document).ajaxComplete(function () {
                        $("#modal_wait").css("display", "none");
                        $("[id^=modal_add_parent_]").prop("disabled", false);
                        $("[id^=modal_add_shell_script_template_]").prop("disabled", false);
                    });

                    $("#form-job").submit(function (event) {
                        $('.select-server').prop('readonly', true);
                        $('.select-server').selectpicker('refresh');

                        $('.select-job').prop('readonly', true);
                        $('.select-job').selectpicker('refresh');

                        $(".job-name").prop("readonly", true);
                    });

                    /**
                     * Show job list modal. 
                     * @returns {undefined}
                     */
                    $("[id^=modal_add_parent_]").click(function () {
                        var url = /*[[@{/job/modal/list/}]]*/ "/job/modal/list";
                        var server = $(this).val();

                        $.ajax({
                            type: "GET",
                            url: url + server,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalJobList").modal({backdrop: 'static', keyboard: false});
                                $('.selectpicker').selectpicker();
                            },
                            error: function (e) {
                                alert("Error loading jobs from Jenkins " + e);
                            }
                        });
                    });

                    /**
                     * Show template parameter modal. 
                     * @returns {undefined}
                     */
                    $("[id^=modal_add_shell_script_template_]").click(function () {
                        var url = /*[[@{/job/modal/template/}]]*/ "job/modal/template/";
                        var template = $(this).val();

                        $.ajax({
                            type: "GET",
                            url: url + template,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalShellScriptTemplateParameter").modal({backdrop: 'static', keyboard: false});
                            },
                            error: function (e) {
                                alert("Fail loading shell script template parameter modal " + e);
                            }
                        });
                    });


                    /**
                     * Show slack channel modal. 
                     * @returns {undefined}
                     */
                    $("#modal_add_slack_channel").click(function () {
                        var url = /*[[@{/job/modal/channel/}]]*/ "/job/modal/channel/";

                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalSlackChannel").modal({backdrop: 'static', keyboard: false});
                                $('.selectpicker').selectpicker();
                            },
                            error: function (e) {
                                alert("Error loading channels from Slack " + e);
                            }
                        });
                    });

                    /**
                     * Show slack channel modal. 
                     * @returns {undefined}
                     */
                    $("#modal_add_email").click(function () {
                        var url = /*[[@{/job/modal/email/}]]*/ "/job/modal/email/";

                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalEmailList").modal({backdrop: 'static', keyboard: false});
                                $('.selectpicker').selectpicker();
                            },
                            error: function (e) {
                                alert("Error loading e-mail list " + e);
                            }
                        });
                    });

                    /**
                     * Disable rebuild on fail when prevalidation is checked. 
                     */
                    if ($("#prevalidation").is(":checked")) {
                        $("#on-fail").find('[value=REBUILD]').attr('disabled', true);
                        $("#on-fail").selectpicker('refresh');
                    }

                    /**
                     * Disable or enable rebuild on fail based on prevalidation state. 
                     */
                    $("#prevalidation").change(function () {
                        if ($("#prevalidation").is(":checked")) {
                            $("#on-fail").find('[value=REBUILD]').attr('disabled', true);
                            $("#on-fail").val('NOTHING');
                        } else {
                            $("#on-fail").find('[value=REBUILD]').attr('disabled', false);
                        }

                        $("#on-fail").selectpicker('refresh');
                    });


                    /**
                     * Record the scroll position on the page.
                     * @returns {undefined}
                     */
                    var top = parseInt($.cookie(/*[[${'job_' + job.id}]]*/ "job"));

                    if (top)
                        $(document).scrollTop(top);
                    $(document).scroll(function () {
                        var top = $(document).scrollTop();
                        $.cookie(/*[[${'job_' + job.id}]]*/ "job", top, {path: '/job', expires: 1});
                    })

                    /**
                     * Build history modal.
                     */
                    $('.build-history').click(function () {
                        var job = $(this)[0].id;
                        var url = /*[[@{/build/history/}]]*/ "/build/history/";

                        $.ajax({
                            type: "GET",
                            url: url + job,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalHistory").modal({backdrop: 'static', keyboard: true});
                            },
                            error: function (e) {
                                alert("Fail loading job build history " + e);
                            }
                        });
                    });

                    /**
                     * CodeMirror plugin in shell script fields
                     */
                    var shellScript = document.getElementsByClassName('shell-script');
                    for (var i = 0; i < shellScript.length; i++) {
                        var codeMirror = CodeMirror.fromTextArea(shellScript[i], {
                            mode: 'shell',
                            lineNumbers: true,
                            matchBrackets: true
                        });

                        codeMirror.setSize("100%", "200px");
                    }

                    /*
                     * Display cron description when change field.
                     */
                    $('#cron').change(function () {
                        displayCronDescription($(this).val());
                    });

                    /*
                     * Display cron description.
                     */
                    function displayCronDescription(cron) {
                        var url = /*[[@{/job/cron/description/}]]*/ "/cron/description/";

                        $('#divCronDescription').hide();
                        $('#cronDescription').text("");

                        if (cron !== "") {
                            $.ajax({
                                type: "GET",
                                url: url + cron,
                                timeout: 15000,
                                success: function (cronDescription) {
                                    if (cronDescription !== "") {
                                        $('#divCronDescription').show();
                                        $('#cronDescription').text(cronDescription);
                                    }
                                }
                            });
                        }
                    }
                });
            </script>
        </div>
    </body>
</html>