<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">        
            <div>    
                <form class="form-horizontal" th:object="${job}" th:action="@{/job/save}" method="post">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <!--Job ID-->
                            <input type="hidden" th:field="*{id}"/>
                            <!--Job Status-->
                            <input type="hidden" th:field="*{status}"/>
                            <!--Job Slack channels-->
                            <input type="hidden" th:field="*{channel}"/>
                            <!--Job approval-->
                            <input type="hidden" th:field="*{approval}"/>
                        </div>
                    </div>

                    <div th:if="${ errorMessage != null }" class="form-group">
                        <!--Validation-->
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                <span th:text="${errorMessage}"></span>
                            </div>
                        </div> 
                    </div>

                    <!-- Job select server-->
                    <div th:if="${ job.server == null }">
                        <th:block th:include="job/fragmentSelectServer::selectServer"></th:block>
                    </div>

                    <!-- Job edit-->
                    <div th:if="${ job.server != null }">
                        <th:block th:include="job/fragmentEditJob::editJob"></th:block>
                    </div>

                    <!--AJAX Parent modal --> 
                    <div id="modalHolder"></div>                    
                </form>
            </div>

            <!--Scroll position-->
            <script th:inline="javascript">
                $(document).ready(function () {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "timeOut": "2500",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };

                    // This div should appear when click on 'Add job' radio btn.
                    $(".div_new_job").hide();

                    // Default value is to import jobs.
                    var importJob = true;

                    $("input[name=importJob]").on("change", function () {
                        //Identify if is import or create a new job.
                        importJob = $(this).val() === 'true';

                        if (importJob) {
                            // Hides div for new job
                            $(".div_new_job").hide("fast");

                            // When is import, job name is not required.
                            $("#jobName").removeAttr("required");

                            // When is import, select template is not required.
                            $('#select-template').removeAttr("required");

                            // Refresh component.
                            $('#select-template').selectpicker('refresh');

                            // Button Next appear on import operation.
                            $('#partial_load_job').prop('disabled', false);

                        } else {
                            // Appears div for new job.
                            $(".div_new_job").show("fast");

                            // Focus do type job name
                            $("#jobName").focus();

                            // For new jobs, name is required.
                            $("#jobName").attr("required", "true");

                            // For new jobs, select template is required.
                            $("#select-template").attr("required", "true");

                            // Refresh component.
                            $('#select-template').selectpicker('refresh');

                            // Loads template list of jenkins
                            loadTemplateList();
                        }
                    });

                    //Identify if is import or create a new job.
                    $("#select-server").on("change", function () {
                        // Only loads template list when is a new job.
                        if (!importJob) {
                            loadTemplateList();
                        }
                    });

                    /**
                     * Loads templates related to selected server. 
                     * @returns {undefined}
                     */
                    function loadTemplateList() {
                        var url = /*[[@{/server/list/templates/}]]*/ "/server/list/templates/";
                        var server = $("#select-server").val();

                        $.ajax({
                            type: "GET",
                            url: url + server,
                            timeout: 5000,
                            success: function (templates) {
                                // If jobs load successfully Nest button appears.
                                $('#partial_load_job').prop('disabled', false);

                                //Fetch templates jobs and put it into select/option.
                                for (var index = 0; index < templates.length; index++) {
                                    $("#select-template").append(new Option(templates[index], templates[index]));
                                }

                                // Refresh component.
                                $('#select-template').selectpicker('refresh');
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $('#select-template').empty();
                                $('#select-template').selectpicker('refresh');
                                toastr.error("Error trying to get list of templates " + xhr.responseText);
                            },
                            beforeSend: function () {
                                // Before ajax is complete, disable next button
                                $('#partial_load_job').prop('disabled', true);

                                // Select picket will be feed in case of success
                                $('#select-template').selectpicker('refresh');
                                $('#select-template').empty();
                            }
                        });
                    }

                    /**
                     * Show wait panel.
                     * @returns {undefined}
                     */
                    $(document).ajaxStart(function () {
                        $("#modal_wait").css("display", "block");
                        $("[id^=modal_add_parent_]").prop("disabled", true);
                        $("[id^=modal_add_shell_script_template_]").prop("disabled", true);
                    });

                    /**
                     * Hide wait panel.
                     * @returns {undefined}
                     */
                    $(document).ajaxComplete(function () {
                        $("#modal_wait").css("display", "none");
                        $("[id^=modal_add_parent_]").prop("disabled", false);
                        $("[id^=modal_add_shell_script_template_]").prop("disabled", false);
                    });

                    /**
                     * Show job list modal. 
                     * @returns {undefined}
                     */
                    $("[id^=modal_add_parent_]").click(function () {
                        var url = /*[[@{/job/modal/list/}]]*/ "/job/modal/list";
                        var server = $(this).val();

                        $.ajax({
                            type: "GET",
                            url: url + server,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalJobList").modal({backdrop: 'static', keyboard: false});
                                $('.selectpicker').selectpicker();
                            },
                            error: function (e) {
                                alert("Error loading jobs from Jenkins " + e);
                            }
                        });
                    });

                    /**
                     * Show template parameter modal. 
                     * @returns {undefined}
                     */
                    $("[id^=modal_add_shell_script_template_]").click(function () {
                        var url = /*[[@{/job/modal/template/}]]*/ "job/modal/template/";
                        var template = $(this).val();

                        $.ajax({
                            type: "GET",
                            url: url + template,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalShellScriptTemplateParameter").modal({backdrop: 'static', keyboard: false});
                            },
                            error: function (e) {
                                alert("Fail loading shell script template parameter modal " + e);
                            }
                        });
                    });


                    /**
                     * Show slack channel modal. 
                     * @returns {undefined}
                     */
                    $("#modal_add_slack_channel").click(function () {
                        var url = /*[[@{/job/modal/channel/}]]*/ "/job/modal/channel/";

                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalSlackChannel").modal({backdrop: 'static', keyboard: false});
                                $('.selectpicker').selectpicker();
                            },
                            error: function (e) {
                                alert("Error loading channels from Slack " + e);
                            }
                        });
                    });

                    /**
                     * Show slack channel modal. 
                     * @returns {undefined}
                     */
                    $("#modal_add_email").click(function () {
                        var url = /*[[@{/job/modal/email/}]]*/ "/job/modal/email/";

                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalEmailList").modal({backdrop: 'static', keyboard: false});
                                $('.selectpicker').selectpicker();
                            },
                            error: function (e) {
                                alert("Error loading e-mail list " + e);
                            }
                        });
                    });

                    /**
                     * Disable rebuild on fail when prevalidation is checked. 
                     */
                    if ($("#prevalidation").is(":checked")) {
                        $("#on-fail").find('[value=REBUILD]').attr('disabled', true);
                        $("#on-fail").selectpicker('refresh');
                    }

                    /**
                     * Disable or enable rebuild on fail based on prevalidation state. 
                     */
                    $("#prevalidation").change(function () {
                        if ($("#prevalidation").is(":checked")) {
                            $("#on-fail").find('[value=REBUILD]').attr('disabled', true);
                            $("#on-fail").val('NOTHING');
                        } else {
                            $("#on-fail").find('[value=REBUILD]').attr('disabled', false);
                        }

                        $("#on-fail").selectpicker('refresh');
                    });


                    /**
                     * Record the scroll position on the page.
                     * @returns {undefined}
                     */
                    var top = parseInt($.cookie(/*[[${'job_' + job.id}]]*/ "job"));

                    if (top)
                        $(document).scrollTop(top);
                    $(document).scroll(function () {
                        var top = $(document).scrollTop();
                        $.cookie(/*[[${'job_' + job.id}]]*/ "job", top, {path: '/job', expires: 1});
                    })

                    /**
                     * Build history modal.
                     */
                    $('.build-history').click(function () {
                        var job = $(this)[0].id;
                        var url = /*[[@{/build/history/}]]*/ "/build/history/";

                        $.ajax({
                            type: "GET",
                            url: url + job,
                            timeout: 30000,
                            success: function (result) {
                                $("#modalHolder").html(result);
                                $("#modalHistory").modal({backdrop: 'static', keyboard: true});
                            },
                            error: function (e) {
                                alert("Fail loading job build history " + e);
                            }
                        });
                    });

                    /**
                     * CodeMirror plugin in shell script fields
                     */
                    var shellScript = document.getElementsByClassName('shell-script');
                    for (var i = 0; i < shellScript.length; i++) {
                        var codeMirror = CodeMirror.fromTextArea(shellScript[i], {
                            mode: 'shell',
                            lineNumbers: true,
                            matchBrackets: true
                        });

                        codeMirror.setSize("100%", "200px");
                    }
                });
            </script>
        </div>
    </body>
</html>