<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>        
        <div class="container">
            <!--Fragment-->
            <div th:fragment="selectServer">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn radio-generic active">
                        <input type="radio" name="importJob" id="importJob" value="true" checked="checked"> Import
                    </label>
                    <label class="btn radio-generic">
                        <input type="radio" name="importJob" id="importJob" value="false"> Create
                    </label>
                </div>

                <hr />

                <!--Jenkins server-->
                <label>Server</label> 
                <div class="form-group">
                    <div class="col-sm-10">
                        <select class="selectpicker form-control" data-live-search="true" th:field="*{server}" id="select-server" required="true">
                            <option th:each="server : ${servers}" 
                                    th:value="${server.id}" 
                                    th:text="${server.name}">
                            </option>
                        </select>
                        <span th:if="${#fields.hasErrors('server')}" class="help-block" th:errors="*{server}"></span>
                    </div>
                </div>
                
                <div class="div_import">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Name</label>
                            <select class="selectpicker form-control" data-live-search="true" id="select-job" name="select-job">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="div_new_job">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Template</label> 
                            <select class="selectpicker form-control" data-live-search="true" id="select-template" name="select-template">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label>Name</label> 
                            <input type="text" class="form-control" name="jobName" id="jobName" minlength="10" />
                        </div>
                    </div>
                </div>

                <!--Buttons-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <button id="modal_wait" type="button" class="btn btn-generic btn-sm pull-right btn-space" style="display:none;">
                            <img th:src="@{'/images/ajax-loader.gif'}"></img>
                        </button>
                        <button type="submit" class="btn btn-generic btn-sm" name="partial_load_job" id="partial_load_job">
                            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span> Next
                        </button>
                    </div>
                </div>
            </div>
        </div>       	
    </body>
</html>
