<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <div class="space-top">
                <div style="margin-bottom:5px">
                    <span th:text="${job.name}" class="checkup-title"></span>
                    <a href="javascript:;" id="btn_job_description" th:if="${job.description != ''}">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </a>
                </div>
                <div id="job_description" class="markdown d-none" th:utext="${job.getHTMLDescription()}"></div>
            </div>

            <hr style="margin-top: 8px"/>

            <div class="form-group">
                <fieldset>
                    <legend>Log</legend>
                    <div class="col-sm-12">
                        <pre class="line-numbers no-border">
                            <code class="language-log" th:text="${log}"></code>
                        </pre>
                    </div>
                </fieldset>
            </div>

            <hr/>  

            <a th:href="@{'/job/view/' + ${job.id}}" th:title="${job.name}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-file"></span> Job
            </a>

            <a th:href="@{'/flow/job/' + ${job.id}}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-random"></span> Flow
            </a>

            <a th:href="@{'/propagation/job/' + ${job.id}}" class="btn btn-link btn-sm">
                <span class="glyphicon glyphicon-transfer"></span> Propagation
            </a>
        </div>

        <script>
            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });

            $(function () {
                $("#btn_job_description").click(function () {
                    $("#job_description").slideToggle();
                });
            });
        </script>
    </body>
</html>