<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <div>    
                <form class="form-horizontal space-top" th:object="${job}">                    
                    <!--Job ID-->
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                    <!--Job Status-->
                    <input type="hidden" class="form-control" th:field="*{status}"/>


                    <div th:if="${ error != null }" class="form-group">
                        <!--Error-->
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                <span th:text="${error}"></span>
                            </div>  
                        </div> 
                    </div> 

                    <div th:if="${ success != null }" class="form-group">
                        <!--Success-->
                        <div class="col-sm-10">
                            <div class="alert alert-success" role="alert">
                                <span th:text="${success}"></span>
                            </div>  
                        </div> 
                    </div> 

                    <div th:if="${job.description != null and job.description != ''}">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div 
                                    class="markdown" 
                                    th:utext="${job.getHTMLDescription()}"></div>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <!--Jenkins server-->
                    <label>Server</label> 
                    <div class="form-group">
                        <div class="col-sm-10">                           
                            <input type="text" class="form-control" th:value="${job.server.name}" readonly="true"/>

                            <div th:if="${not connected}" class="alert alert-danger" role="alert" style="margin-bottom: 0">
                                <span>Not connected to Jenkins server</span>
                            </div>
                        </div>
                    </div>

                    <div th:if="${ job.server != null }">
                        <!--Name-->         
                        <label>Name</label>  
                        <div class="form-group">
                            <div class="col-sm-10">                                                              
                                <input type="text" class="form-control" th:value="*{name}" readonly="true"/>
                            </div>
                        </div>

                        <label>Alias</label>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:value="*{alias}" readonly="true"/>
                            </div>
                        </div> 

                        <label>Time restriction <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Cron based build time restriction"></span></label>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:value="*{timeRestriction}" readonly="true"/>
                                <div th:if="${not #lists.isEmpty(job.getTimeRestrictionDescription())}" class="alert alert-warning" role="alert" style="margin-bottom: 0">
                                    <span th:text="${job.getTimeRestrictionDescription()}"></span>
                                </div>
                            </div>
                        </div>

                        <label>Eagerness <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Identifies that previous day executions, terminated within the tolerance period of hours, should be considered in the current day's data stream."></span></label>
                        <div class="form-group">
                            <div class="col-sm-10">              
                                <input type="number" min="0" max="12" class="form-control" maxlength="1" th:field="*{tolerance}" disabled="true"/>
                                <span th:if="${#fields.hasErrors('tolerance')}" class="help-block" th:errors="*{tolerance}"></span>
                            </div>
                        </div>

                        <label title="Minutes beetwen rebuild">Rebuild interval</label>
                        <div class="form-group">   
                            <div class="col-sm-10">              
                                <input type="number" min="0" max="59" class="form-control" maxlength="1" th:field="*{wait}" disabled="true"/>
                                <span th:if="${#fields.hasErrors('wait')}" class="help-block" th:errors="*{wait}"></span>
                            </div>
                        </div>
                    </div>

                    <div th:if="${not #lists.isEmpty(job.subject)}">  
                        <label>Subject</label>
                        <table class="table">
                            <tr>
                                <th style="width:5%">#</th>
                                <th style="width:75%">Subject</th>
                            </tr>
                            <tr th:each="subject, stat : ${job.subject}">
                                <td> 
                                    <span th:text="*{subject[__${stat.index}__].id}"></span>
                                </td>
                                <td>
                                    <span th:text="*{subject[__${stat.index}__].name}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>                    

                    <fieldset>
                        <legend>
                            Jenkins
                        </legend>
                    </fieldset>

                    <label>Node <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Assign node where this job will execute"></span></label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:value="*{node}" readonly="true"/>
                            <span th:if="${#fields.hasErrors('node')}" class="help-block" th:errors="*{node}"></span>
                        </div>
                    </div>

                    <label>Cron <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Cron expression that defines when the job will be built"></span></label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <pre class="line-numbers">                                
                                <code class="language-bash" th:text="*{cron}"></code>                                
                            </pre>
                            <div th:if="${not #strings.isEmpty(job.getCronDescription(true))}" class="alert alert-warning" role="alert" style="margin-bottom: 0">
                                <span th:text="${job.getCronDescription(true)}"></span>
                            </div>
                        </div>
                    </div>

                    <label>Blocking Jobs</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <pre class="line-numbers">                                
                                <code class="language-bash" th:text="*{blockingJobs}"></code>                                
                            </pre>
                        </div>
                    </div>

                    <div th:if="${not #lists.isEmpty(job.shellScript)}"> 
                        <label>Shell Script</label>

                        <div th:each="shell : ${job.shellScript}">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <pre class="line-numbers">                                
                                        <code class="language-bash" th:text="${shell}"></code>                                
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:if="${not #lists.isEmpty(job.parent) || not #lists.isEmpty(children)}"> 
                        <fieldset>
                            <legend>
                                Relationship
                            </legend>
                        </fieldset>

                        <ul class="nav nav-pills">
                            <li class="active" th:if="${not #lists.isEmpty(job.parent)}">
                                <a data-toggle="tab" href="#parent">PARENT 
                                    <span class="badge" th:text="${#lists.size(job.parent)}"></span>
                                </a>                                
                            </li>
                            <li th:classappend="${#lists.isEmpty(job.parent)} ? active : ''" th:if="${not #lists.isEmpty(children)}">
                                <a data-toggle="tab" href="#child">CHILDREN 
                                    <span class="badge" th:text="${#lists.size(children)}"></span>
                                </a>  
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div th:if="${not #lists.isEmpty(job.parent)}" id="parent" class="tab-pane fade in active space-top">                            
                                <table class="table">
                                    <tr>
                                        <th style="width:5%">#</th>
                                        <th style="width:2.5%"><span class="glyphicon glyphicon-pause" title="Blocker"></span></th>
                                        <th style="width:10%">Server</th>
                                        <th style="width:55%">Name</th>                               
                                        <th style="width:2.5%"><span class="glyphicon glyphicon-calendar" title="Build history"></span></th>                                      
                                        <th style="width:5%">Scope</th>
                                        <th></th>
                                    </tr>
                                    <tr th:each="parent, stat : ${job.parent}">
                                        <td> 
                                            <span th:text="*{parent[__${stat.index}__].parent.id}"></span>
                                        </td>
                                        <td>
                                            <input  
                                                id="blocker" 
                                                name="blocker"
                                                type="checkbox" 
                                                th:checked="*{parent[__${stat.index}__].blocker}"
                                                disabled="true"/>  
                                        </td>
                                        <td th:text="*{parent[__${stat.index}__].parent.server.name}"></td>
                                        <td><a class="link" th:text="*{parent[__${stat.index}__].parent.name}" th:href="@{'/job/view/' + *{parent[__${stat.index}__].parent.id}}" target="_blank"></a></td>
                                        <td>
                                            <a href="javascript:;" class="build-history" th:id="*{parent[__${stat.index}__].parent.id}">
                                                +
                                            </a>                          
                                        </td>
                                        <td>
                                            <span th:text="*{parent[__${stat.index}__].scope}"></span>
                                        </td>
                                        <td>
                                            <div th:if="${#authorization.expression('isAuthenticated()')}">
                                                <button 
                                                    type="button" 
                                                    class="btn btn-delete btn-xs"
                                                    th:attr="data-id=${job.id},data-name=*{parent[__${stat.index}__].parent.name},data-index=${stat.index}"
                                                    onclick="confirmRemoveParent(this)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                                                </button>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </table>
                            </div> 

                            <div th:if="${not #lists.isEmpty(children)}" id="child" class="tab-pane fade in space-top" th:classappend="${#lists.isEmpty(job.parent)} ? active : ''">
                                <table class="table">
                                    <tr>
                                        <th style="width:5%">#</th>
                                        <th style="width:2.5%"><span class="glyphicon glyphicon-pause" title="Blocker"></span></th>
                                        <th style="width:2.5%"><span class="glyphicon glyphicon-retweet" title="Rebuildable"></span></th>
                                        <th style="width:10%">Server</th>
                                        <th style="width:52.5%">Name</th>
                                        <th style="width:2.5%"><span class="glyphicon glyphicon-calendar" title="Build history"></span></th>                                       
                                        <th style="width:5%">Scope</th>
                                        <th></th>
                                    </tr>
                                    <tr th:each="child, childStat : ${children}">
                                        <td> 
                                            <span th:text="${child.job.id}"></span>
                                        </td>
                                        <td>
                                            <input  
                                                id="blocker" 
                                                name="blocker"
                                                type="checkbox" 
                                                th:checked="${child.blocker}"
                                                disabled="true"/>
                                        </td>
                                        <td>
                                            <input  
                                                id="child_rebuild" 
                                                name="child_rebuild"
                                                type="checkbox" 
                                                th:checked="${child.job.rebuild}"
                                                disabled="true"/>
                                        </td>
                                        <td th:text="${child.job.server.name}"></td>
                                        <td><a class="link" th:text="${child.job.name}" th:href="@{'/job/view/' + ${child.job.id}}" target="_blank"></a></td>
                                        <td>
                                            <a href="javascript:;" class="build-history" th:id="${child.job.id}">
                                                +
                                            </a>                         
                                        </td>
                                        <td>
                                            <span th:text="${child.scope}"></span>
                                        </td>
                                        <td>
                                            <div th:if="${#authorization.expression('isAuthenticated()')}">
                                                <button 
                                                    type="button" 
                                                    class="btn btn-delete btn-xs"
                                                    th:attr="data-id=${job.id},data-child-id=${child.job.id},data-name=${child.job.name}"
                                                    onclick="confirmRemoveChild(this)">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div th:if="${not #lists.isEmpty(job.checkup)}"> 
                        <fieldset>
                            <legend>
                                Checkup
                            </legend>
                        </fieldset>
                    </div>

                    <div th:each="checkup, stat : ${job.checkup}">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-height">                                    
                                    <a 
                                        data-toggle="collapse" 
                                        data-parent="#accordion" 
                                        th:href="'#check' + ${stat.index}"
                                        class="link">
                                        <span th:text="*{checkup[__${stat.index}__].name + ' > ' + ( checkup[__${stat.index}__].prevalidation ? 'PRE_VALIDATION' : 'POST_VALIDATION' ) + ' > ' +  checkup[__${stat.index}__].action}" 
                                              th:classappend="*{checkup[__${stat.index}__].enabled ? '':'panel-heading-add-checkup'}"></span>
                                        <span th:text="*{checkup[__${stat.index}__].enabled ? '':'[Disabled]'}" 
                                              class="panel-heading-add-checkup"></span>
                                        <span class="glyphicon glyphicon-triangle-bottom pull-right small" 
                                              aria-hidden="true"></span> 
                                    </a>                                    
                                </div>
                                <div th:id="'check' + ${stat.index}" class="panel-collapse collapse">
                                    <div class="panel-body">                                        
                                        <!--Checkup-->
                                        <div th:if="*{checkup[__${stat.index}__].description != null and checkup[__${stat.index}__].description != ''}">
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div 
                                                        class="markdown" 
                                                        th:utext="*{checkup[__${stat.index}__].getHTMLDescription()}"></div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>

                                        <div class="form-group"> 
                                            <div class="col-sm-10">
                                                <label th:inline="text">ID</label> 
                                                <input type="text" class="form-control" maxlength="255" th:field="*{checkup[__${stat.index}__].id}" required="true" disabled="true"/>
                                            </div>
                                        </div>

                                        <div class="form-group"> 
                                            <div class="col-sm-10">
                                                <label th:inline="text">Name</label> 
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    maxlength="255" 
                                                    th:field="*{checkup[__${stat.index}__].name}" 
                                                    disabled="true"/>
                                            </div>
                                        </div> 

                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                <label>Connection</label> 
                                                <input type="text" class="form-control" maxlength="255" th:field="*{checkup[__${stat.index}__].connection.name}" disabled="true"/>
                                            </div>

                                            <div class="col-sm-2">
                                                <label>Scope</label>
                                                <input type="text" class="form-control" maxlength="255" th:field="*{checkup[__${stat.index}__].scope}" disabled="true"/>    
                                            </div>
                                        </div> 

                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <label>
                                                    SQL
                                                    <a th:href="@{'/workbench/job/checkup/' + *{checkup[__${stat.index}__].id}}" title="Open the query in Workbench" target="_blank">
                                                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                                    </a>
                                                </label>
                                                <pre class="line-numbers">
                                                    <code class="language-sql" th:text="*{checkup[__${stat.index}__].query}"></code>
                                                </pre>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label>Condition</label>
                                                <input type="text" class="form-control" maxlength="10" th:field="*{checkup[__${stat.index}__].conditional}" disabled="true"/>      
                                            </div>

                                            <div class="col-sm-4">    
                                                <label>Threshold</label>
                                                <input type="text" class="form-control" maxlength="10" th:field="*{checkup[__${stat.index}__].threshold}" disabled="true"/>
                                            </div>

                                            <div class="col-sm-4">    
                                                <label>On fail</label> 
                                                <input type="text" class="form-control" maxlength="10" th:field="*{checkup[__${stat.index}__].action}" disabled="true"/>          
                                            </div>
                                        </div> 

                                        <div th:if="*{not #lists.isEmpty(checkup[__${stat.index}__].trigger)}">    
                                            <hr/>
                                            <!--Checkup trigger-->
                                            <label>Trigger</label>
                                            <table class="table">
                                                <tr>
                                                    <th style="width:5%">#</th>
                                                    <th style="width:10%">Server</th>
                                                    <th style="width:62.5%">Name</th>
                                                </tr>
                                                <tr th:each="trigger, stat : *{checkup[__${stat.index}__].trigger}">
                                                    <td>
                                                        <span th:text="${trigger.id}"></span>
                                                    </td>
                                                    <td th:text="${trigger.server.name}"></td>
                                                    <td th:text="${trigger.name}"></td>
                                                </tr>
                                            </table>
                                        </div>  

                                        <!--Checkup command-->
                                        <div th:if="*{not #lists.isEmpty(checkup[__${stat.index}__].command)}"> 
                                            <fieldset>
                                                <legend>
                                                    Command
                                                </legend>
                                            </fieldset>

                                            <div th:each="command, commandStat : *{checkup[__${stat.index}__].command}">
                                                <div class="form-group">  
                                                    <div class="col-sm-10">    
                                                        <label th:text="${ (commandStat.index + 1) + '°' }"></label> 
                                                        <input type="text" class="form-control" maxlength="10" th:field="*{checkup[__${stat.index}__].command[__${commandStat.index}__].commandType}" disabled="true"/>  
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <pre class="line-numbers">
                                                              <code th:class="*{checkup[__${stat.index}__].command[__${commandStat.index}__].commandType} == 'SQL' ? language-sql : language-bash" th:text="*{checkup[__${stat.index}__].command[__${commandStat.index}__].command}"></code>
                                                        </pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   

                                        <div>
                                            <!--Options-->
                                            <fieldset>
                                                <legend>
                                                    Options
                                                </legend>
                                            </fieldset> 

                                            <div class="form-group">  
                                                <div class="col-sm-10">
                                                    <div class="btn-group btn-space">
                                                        <label>
                                                            <input  
                                                                id="jobEnabled" 
                                                                name="jobEnabled"
                                                                type="checkbox" 
                                                                disabled="true"
                                                                th:field="*{checkup[__${stat.index}__].enabled}" 
                                                                th:checked="*{checkup[__${stat.index}__].enabled}"/> Enabled
                                                        </label>
                                                    </div>

                                                    <div class="btn-group btn-space" th:if="${not #lists.isEmpty(job.parent)}">  
                                                        <label>
                                                            <input     
                                                                id="prevalidation" 
                                                                name="prevalidationEnabled"
                                                                type="checkbox" 
                                                                disabled="true"
                                                                data-onstyle="default" 
                                                                th:field="*{checkup[__${stat.index}__].prevalidation}" 
                                                                th:checked="*{checkup[__${stat.index}__].prevalidation}"/> Prevalidation
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div> 
                    </div>                    

                    <div th:if="${not #lists.isEmpty(job.checkup)}">   
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label>Retries</label> 
                                <input type="number"  min="0" max="9" class="form-control" maxlength="1" th:field="*{retry}" disabled="true"/>
                            </div>
                        </div>
                        <label>Approver</label>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" maxlength="10" th:field="*{approver.fullName}" disabled="true"/> 
                            </div>
                        </div>
                    </div> 

                    <div th:if="${not #lists.isEmpty(job.email)}">
                        <fieldset>
                            <legend>
                                E-mail
                            </legend>
                            <span>Send when this job finishes sucessfully</span>
                        </fieldset>
                        <br/>

                        <table class="table">
                            <tr>
                                <th style="width:5%">#</th>
                                <th style="width:50%">E-mail</th>
                                <th style="width:32.5%">Owner</th>
                            </tr>
                            <tr th:each="email, emailStat : ${job.email}">
                                <input type="hidden" th:field="*{email[__${emailStat.index}__]}"/> 

                                <td> 
                                    <span th:text="*{email[__${emailStat.index}__].id}"></span>
                                </td>
                                <td>
                                    <a class="link" 
                                       th:text="*{email[__${emailStat.index}__].subject}" 
                                       th:href="@{'/email/view/' + *{email[__${emailStat.index}__].id}}" 
                                       target="_blank"></a>  
                                </td>
                                <td>
                                    <span th:text="*{email[__${emailStat.index}__].user.username}"></span>
                                </td>                                
                            </tr>
                        </table>
                    </div>

                    <!--Options-->
                    <div th:if="${ job.server != null }">
                        <div th:if="${not #lists.isEmpty(job.channel)}">
                            <fieldset>
                                <legend th:inline="text">
                                    Slack notification on 
                                    <b>
                                        [[*{ #lists.isEmpty(channel) ? 'default channel' : #strings.arrayJoin(channel, ', ') }]]
                                    </b>
                                </legend>
                            </fieldset>

                            <div class="alert alert-link" role="alert">
                                <span>Job status and checkup failure notification on slack</span>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div class="btn-group btn-space">
                                        <label>
                                            <input  
                                                id="slackJobNotification" 
                                                name="slackJobNotification"
                                                type="checkbox" 
                                                th:field="*{notify}" 
                                                th:checked="*{notify}"
                                                disabled="true"/>  Build status  
                                        </label>

                                        <br/>

                                        <label th:if="${not #lists.isEmpty(job.checkup)}">
                                            <input  
                                                id="slackCheckupNotification" 
                                                name="slackCheckupNotification"
                                                type="checkbox" 
                                                th:field="*{checkupNotified}" 
                                                th:checked="*{checkupNotified}"
                                                disabled="true"/> Checkup failure
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <fieldset>
                            <legend>
                                Options
                            </legend>
                        </fieldset>   

                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="btn-group btn-space">
                                    <label>
                                        <input  
                                            id="jobEnabled" 
                                            name="jobEnabled"
                                            type="checkbox" 
                                            disabled="true"
                                            th:field="*{enabled}" 
                                            th:checked="*{enabled}"/> Enabled
                                    </label>
                                </div>

                                <div class="btn-group btn-space">
                                    <label>
                                        <input  
                                            id="rebuild" 
                                            name="rebuild"
                                            type="checkbox" 
                                            disabled="true"
                                            th:field="*{rebuild}" 
                                            th:checked="*{rebuild}"/> Rebuildable
                                    </label>
                                </div>

                                <div class="btn-group btn-space">
                                    <label>
                                        <input  
                                            id="rebuild" 
                                            name="rebuild"
                                            type="checkbox" 
                                            disabled="true"
                                            th:field="*{anyScope}" 
                                            th:checked="*{anyScope}"/> Build on any parent scope
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <!--Buttons-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <a th:href="@{'/job/edit/' + ${job.id}}" class="btn btn-generic btn-sm">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>

                            <a href="" data-toggle="modal" data-target="#delete" class="btn btn-delete btn-sm btn-space">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                            </a>

                            <a th:if="*{enabled}" href="" data-toggle="modal" data-target="#mesh" class="btn btn-generic btn-sm pull-right btn-space">
                                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> Build mesh
                            </a>

                            <a th:if="*{enabled}" th:href="@{'/job/build/' + ${job.id}}" class="btn btn-generic btn-sm pull-right btn-space">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Build 
                            </a>


                            <a th:href="@{'/flow/job/'  + ${job.id}}" class="btn btn-generic btn-sm pull-right btn-space">
                                <span class="glyphicon glyphicon-random" aria-hidden="true"></span> Flow
                            </a>  

                            <a th:href="@{'/propagation/job/'  + ${job.id}}" class="btn btn-generic btn-sm pull-right btn-space">
                                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Propagation
                            </a> 
                        </div>
                    </div>

                    <!--Modal delete-->
                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 th:inline="text" class="modal-title" id="modalParentLabel">[[${ 'Delete ' + job.name}]] </h4>
                                </div>
                                <div class="modal-body">
                                    <span>Are you sure?</span>
                                </div>
                                <div class="modal-footer"> 
                                    <a th:href="@{'/job/delete/' + ${job.id}}" class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm">
                                        Yes
                                    </a>
                                    <a class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm" data-dismiss="modal" aria-label="Close">
                                        No
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Modal Build Mesh-->
                    <div class="modal fade" id="mesh" tabindex="-1" role="dialog" aria-labelledby="modalBuildMesh">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="modalParentLabel">Attention</h4>
                                </div>
                                <div class="modal-body">
                                    <span>This action forces all mesh to be rebuilt. Are you sure?</span>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{'/job/rebuild/' + ${job.id}}" class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm">
                                        Yes
                                    </a>
                                    <a class="col-xs-5 col-sm-5 col-md-5 btn btn-default btn-sm" data-dismiss="modal" aria-label="Close">
                                        No
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:if="*{ updatedAt != null }">
                        <hr/>

                        <!--Tracker-->
                        <div class="form-group">                        
                            <div class="col-sm-10">
                                <label class="pull-right label-edit-information" th:inline="text">Updated by [[*{modifiedBy}]] at [[*{#dates.format(updatedAt, 'yyyy-MM-dd HH:mm:ss')}]]</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--AJAX Parent modal --> 
        <div id="modalHolder"></div>

        <script th:inline="javascript">
            Prism.plugins.NormalizeWhitespace.setDefaults({
                'remove-trailing': true,
                'remove-indent': true,
                'left-trim': true,
                'right-trim': true,
            });

            $(function () {
                $('.build-history').click(function () {
                    var job = $(this)[0].id;
                    var url = /*[[@{/build/history/}]]*/ "/build/history/";

                    $.ajax({
                        type: "GET",
                        url: url + job,
                        timeout: 30000,
                        success: function (result) {
                            $("#modalHolder").html(result);
                            $("#modalHistory").modal({backdrop: 'static', keyboard: true});
                        },
                        error: function (e) {
                            alert("Fail loading job build history " + e);
                        }
                    });
                });
            });

            /**
             * Set header CSRF Token.
             * @returns {undefined}
             */
            $.ajaxSetup({
                headers: {'X-CSRF-Token': $('#_csrf').attr('content')}
            });

            /**
             * Display confirmation modal to remove parent.
             * 
             * @param {type} component
             * @returns {undefined}
             */
            function confirmRemoveParent(component) {
                var id = $(component).data("id");
                var name = $(component).data("name");
                var index = $(component).data("index");
                var url = /*[[@{/job/remove/parent}]]*/ "/job/remove/parent";

                bootbox.confirm({
                    title: "Remove parent " + name,
                    message: "You will remove parent " + name + ", are you sure?",
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: {id: id, index: index},
                                timeout: 30000,
                                success: function (result) {
                                    document.location.reload(result);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert("Failed to remove parent job: " + errorThrown);
                                }
                            });
                        }
                    }
                });
            }

            /**
             * Display confirmation modal to remove child.
             * 
             * @param {type} component
             * @returns {undefined}
             */
            function confirmRemoveChild(component) {
                var id = $(component).data("id");
                var childID = $(component).data("child-id");
                var name = $(component).data("name");
                var url = /*[[@{/job/remove/child}]]*/ "/job/remove/child";

                bootbox.confirm({
                    title: "Remove child " + name,
                    message: "You will remove child " + name + ", are you sure?",
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: {id: id, childID: childID},
                                timeout: 30000,
                                success: function (result) {
                                    document.location.reload(result);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert("Failed to remove child job: " + errorThrown);
                                }
                            });
                        }
                    }
                });
            }
        </script>
    </body>
</html>