<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th>
                        <h3 class="page-title">Log</h3>
                    </th>
                </tr>            
            </table>

            <form th:action="@{/log/list/filter}" method="POST">
                <div style="margin-top:10px">
                    <div class="form-group">
                        <input type="text" name="dateRange" id="dateRange" class="form-control" readonly="readonly" style="cursor:pointer" />
                        <input type="hidden" name="dateFrom" id="dateFrom" th:value="${dateFrom}" />
                        <input type="hidden" name="dateTo" id="dateTo" th:value="${dateTo}" />
                    </div>
                    <button type="submit" 
                            class="btn btn-generic space-left space-right" 
                            id="filter">
                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
                    </button>                         
                </div>
            </form>

            <div>
                <table id="table_paginated" class="table table-hover">
                    <thead>
                        <tr>    
                            <th style="width:2.5%">#</th>
                            <th style="width:10%">Date</th>
                            <th style="width:5%">Entity</th>
                            <th style="width:60%">Content</th>
                            <th style="width:10%">User</th>   
                            <th style="width:10%">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="event : ${events}">  
                            <td th:text="${event.id}">ID</td> 
                            <td th:text="${#dates.format(event.date, 'yyyy-MM-dd HH:mm:ss')}">Date</td>  
                            <td th:text="${event.type}">Entity</td> 
                            <td th:text="${event.typeName}">Name</td>   
                            <td th:text="${event.username}">User</td> 
                            <td th:text="${event.event}">Event</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(function () {
                // Date range
                $('#dateRange').daterangepicker({
                    timePicker: true,
                    startDate: $('#dateFrom').val(),
                    endDate: $('#dateTo').val(),
                    maxDate: moment().startOf('day').hour(23).minute(59),
                    timePicker24Hour: true,
                    opens: 'right',
                    locale: {
                        format: 'YYYY-MM-DD HH:mm',
                        separator: " to "
                    },
                });

                // Save date in a hidden
                $('#dateRange').on('apply.daterangepicker', function (ev, picker) {
                    $('#dateFrom').val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
                    $('#dateTo').val(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
                });
            });
        </script>
    </body>
</html>