<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <table>
                <tr>
                    <th>
                        <h3 class="page-title">Log</h3>
                    </th>
                </tr>            
            </table>
            <div>
                <table id="table_paginated" class="table table-hover">
                    <thead>
                        <tr>    
                            <th style="width:2.5%">#</th>
                            <th style="width:10%">Date</th>
                            <th style="width:5%">Entity</th>
                            <th style="width:60%">Name</th>
                            <th style="width:10%">User</th>   
                            <th style="width:10%">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="event : ${events}">  
                            <td th:text="${event.id}">ID</td> 
                            <td th:text="${#dates.format(event.date, 'yyyy-MM-dd HH:mm:ss')}">Date</td>  
                            <td th:text="${event.type}">Entity</td> 
                            <td th:text="${event.typeName}">Name</td>   
                            <td th:text="${event.username}">User</td> 
                            <td th:text="${event.event}">Event</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>