<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <div>
                <form class="form-horizontal" th:object="${email}">
                    <div class="form-group">
                        <div class="col-sm-10">                            
                            <!--ID-->
                            <input type="hidden" th:field="*{id}"/>
                            <!--User-->
                            <input type="hidden" th:field="*{user}"/>
                        </div>
                    </div>

                    <div th:if="${ errorMessage != null }" class="form-group">
                        <!--Validation-->
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                <span th:text="${errorMessage}"></span>
                            </div>  
                        </div> 
                    </div>

                    <label>Recipient</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input 
                                type="text" 
                                id="recipient"
                                class="form-control"                                                                 
                                th:field="*{recipient}"
                                readonly="true"/>
                        </div>
                    </div>

                    <label>External Recipient</label> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input 
                                type="text" 
                                id="externalRecipient"
                                class="form-control" 
                                maxlength="255"
                                th:field="*{externalRecipient}"
                                readonly="true"/>
                        </div>
                    </div>  

                    <!--Subject-->   
                    <label>Subject</label> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control" 
                                   maxlength="50" 
                                   th:field="*{subject}"
                                   readonly="true"/>
                            <span
                                th:if="${#fields.hasErrors('subject')}" 
                                class="help-block alertErr"
                                th:errors="*{subject}"></span>
                        </div>
                    </div>

                    <label>Body</label> 
                    <div class="form-group">
                        <div class="col-sm-10">                                        
                            <textarea 
                                id="query" 
                                class="form-control" 
                                th:field="*{content}"
                                rows="5" 
                                maxlength="10000"
                                readonly="true"></textarea>
                        </div>
                    </div>

                    <label>Connection</label>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input 
                                type="text" 
                                id="recipient"
                                class="form-control"                                                                 
                                th:field="*{connection.name}"
                                readonly="true"/>                            
                        </div>
                    </div>

                    <label>
                        Query
                        <a th:href="@{'/workbench/studio/email/' + *{id}}" title="Open the query in Workbench" target="_blank">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>                        
                    </label> 
                    <div class="form-group">
                        <div class="col-sm-10">                                        
                            <pre class="line-numbers">
                                <code class="language-sql" th:text="*{query}"></code>
                            </pre>
                        </div>                        
                    </div>    
                    <div th:if="*{not #lists.isEmpty(job)}">
                        <fieldset>
                            <legend>
                                Jobs
                            </legend>
                            <span>Related jobs</span>
                        </fieldset>
                        <br/>

                        <table class="table">
                            <tr>
                                <th style="width:3%">#</th>
                                <th style="width:50%">Job</th>
                                <th style="width:47%">Server</th>
                            </tr>
                            <tr th:each="j : *{job}">
                                <td><span th:text="${j.id}"></span></td>
                                <td>
                                    <a class="link" 
                                       th:text="${j.name}" 
                                       th:href="@{'/job/view/' + ${j.id}}" 
                                       target="_blank"></a>  
                                </td>
                                <td><span th:text="${j.server.name}"></span></td>
                            </tr>
                        </table>
                    </div>                    
                    <hr/>
                    <!--Buttons--> 
                    <div class="form-group">
                        <div class="col-sm-10">
                            <a th:href="@{'/email/edit/' + *{id}}" class="btn btn-generic btn-sm">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>

                            <button id="modal_wait" type="button" class="btn btn-generic btn-sm pull-right btn-space" style="display:none;">
                                <img th:src="@{'/images/ajax-loader.gif'}"></img>
                            </button>
                        </div>
                    </div>

                    <hr/>

                    <div class="form-group">   
                        <div class="col-sm-5">
                            <a th:href="@{'/email/add/'}" class="btn btn-link btn-sm">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add e-mail
                            </a>
                            
                            <a th:href="@{'/email/stored/'}" class="btn btn-link btn-sm">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Go back
                            </a>                            

                            <a th:href="@{'/workbench/studio/'}" class="btn btn-link btn-sm">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Open workbench
                            </a>
                        </div>

                        <!--Tracker-->
                        <div th:if="*{ updatedAt != null }">
                            <div class="col-sm-5">
                                <label class="pull-right label-edit-information" th:inline="text">
                                    Updated by [[*{modifiedBy}]] at [[*{#dates.format(updatedAt, 'yyyy-MM-dd HH:mm:ss')}]]
                                </label>
                            </div>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </body>
</html> 