<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en" th:replace="base/header :: head">
        <title>Hanger</title>
    </head>
    <body>
        <th:block th:include="base/header :: navbar"></th:block>
        <div class="container-fluid main-content">
            <h3 class="page-title">Configuration</h3>
            <div>
                <form id="configuration" class="form-horizontal space-top" th:object="${configurationGroup}" th:action="@{/configuration/save}" method="post">
                    <div class="form-group">
                        <!--Validation-->
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert" id="errorMessage" style="display: none">
                            </div>  
                        </div> 
                    </div>
                    <!-- Fetch the configuration group -->
                    <fieldset th:each="configGroup : ${configurationGroup}">
                        <legend th:text="${configGroup.name}"></legend>
                        <!-- Fetch the configuration -->
                        <div th:each="configuration : ${configGroup.configuration}">
                            <label th:text="${configuration.name}"></label>

                            <div class="form-group">
                                <img th:src="@{/images/SUCCESS.png}" th:id="${configuration.parameter} + success" style="width: 30px; display: none" alt="Hanger"></img>
                                <img th:src="@{/images/FAILURE.png}" th:id="${configuration.parameter} + failure" style="width: 30px; display: none" alt="Hanger"></img>

                                <div class="col-sm-10">
                                    <div th:if="${configuration.type == 'number'}">
                                        <input th:name="${configuration.name}" 
                                               th:attr="type=${configuration.type},min=${configuration.minLength},max=${configuration.maxLength}"                                                    
                                               class="form-control" 
                                               th:id="${configuration.parameter}" 
                                               th:value="${configuration.value}" 
                                               required="true"/>                                    
                                    </div>

                                    <div th:if="${configuration.type != 'number'}">
                                        <input th:name="${configuration.name}"
                                               th:attr="type=${configuration.type},minLength=${configuration.minLength},maxLength=${configuration.maxLength}"                                                    
                                               class="form-control" 
                                               th:id="${configuration.parameter}" 
                                               th:value="${configuration.value}" 
                                               th:pattern="${configuration.pattern}" 
                                               required="true"/>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <legend>Customization</legend>                    
                    <div class="btn-group">
                        <button type="button" class="btn btn-generic btn-sm" th:id="modal_change_logo">                                         
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Update logo
                        </button>
                    </div>
                </form>

                <!--Modal--> 
                <div id="modalHolder"/>
            </div>
        </div>
        <script th:inline="javascript">
            // Save the especific input configuration on database.
            $("input").blur(function () {
                var value = $(this).val();
                var id = $(this).attr("id");
                var name = $(this).attr("name");
                var url = /*[[@{/configuration/save/}]]*/ "/configuration/save/";

                if (this.checkValidity()) {
                    $.ajax({
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        url: url + id,
                        data: value,
                        success: function (result) {
                            // Identify the operation status. 
                            if (result) {
                                $("#" + id + "success").show();
                                $("#" + id + "failure").hide();

                                $("#errorMessage").hide();
                            } else {
                                $("#" + id + "failure").show();
                                $("#" + id + "success").hide();
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            // Show error message on fail. 
                            $("#" + id + "failure").show();
                            $("#" + id + "success").hide();

                            $("#errorMessage").show();
                            $("#errorMessage").text("Error trying to save configuration " + id);

                        },

                        beforeSend: function (xhr) {
                            var token = $("input[name='_csrf']").val();
                            var header = "X-CSRF-TOKEN";

                            xhr.setRequestHeader(header, token);
                        }
                    });

                } else {
                    // Show the validation message on constraint fail. 
                    $("#" + id + "failure").show();
                    $("#" + id + "success").hide();

                    $("#errorMessage").show();
                    $("#errorMessage").text(name + ": " + this.validationMessage);

                    $(this).focus();
                }
            });

            /**
             * Show change logo modal.
             * @returns {undefined}
             */
            $("#modal_change_logo").click(function () {
                var url = /*[[@{/customization/modal/logo/}]]*/ "/customization/modal/logo/";

                $.ajax({
                    type: "GET",
                    url: url,
                    timeout: 30000,
                    success: function (result) {
                        $("#modalHolder").html(result);
                        $("#modalChangeLogo").modal({backdrop: 'static', keyboard: false});
                    },
                    error: function (e) {
                        alert("Error loading change logo modal " + e);
                    }
                });
            });
        </script>
    </body>
</html>f